{% comment %}
  Ajax Mini Cart Template
{% endcomment %}

<script id="miniCart" type="text/template">
  {% raw %}
    {{if items.length > 0}}
      {{each items}}
        <div class="media">
          <a class="pull-left" href="${url}">
            <img class="media-object" src="${image}" width="64" alt="${title}">
          </a>
          <div class="media-body">
            <p class="media-heading">${title}</p>
            <p>${quantity} x {{html Shopify.formatMoney(price, Venas.money_format)}}</p>
            <a class="remove-product pull-right" data-variant-id="${variant_id}" title="Remove this item" >
             <i class="fa fa-trash"></i>
            </a>
          </div>
        </div>
      {{/each}}
      <hr/>
      <a class="btn btn-default" href="/checkout" title="Checkout">Checkout</a>
    {{else}}
      <p class="p10 mb0 mt0">You have no items in your shopping cart.</p>
    {{/if}}
    
  {% endraw %}
</script>

