{% comment %}
  Side navigation for Recent Blog posts, Blog tags and Product collections
{% endcomment %}

<div class="sidebar">

  {% comment %}
    Recent blog posts
  {% endcomment %}
  <div class="area">
    <h3 class="h3"><span>Recent Articles</span></h3>
    {% for article in blog.articles limit:6 %}
      <p>
        <a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>
        <br>
        <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
          <em>{{ article.published_at | date: '%b %d, %Y' }}</em>
        </time>
      </p>
    {% endfor %}
  </div>

  {% comment %}
    Blog tags
  {% endcomment %}
  {% if blog.all_tags.size > 0 %}
  <div class="area">
    <h3 class="h3"><span>Tags</span></h3>
    {% for tag in blog.all_tags %}
      {% if current_tags contains tag %}
      <div class="btn btn-default btn-xs">{{ tag }}</li>
      {% else %}
      <div class="btn btn-default btn-xs">
        {{ tag | link_to_tag: tag }}
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  {% comment %}
    Product Collections
  {% endcomment %}
  {% if collections.size > 1 %}
  <div class="area">
    <h3 class="h3"><span>Collections</span></h3>
    <ul class="aside-list list-unstyled">
      {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
          <li><a href="{{ collection.url }}" title="{{collection.title}}">{{collection.title}} ({{collection.products.size}})</a></li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div>