{% comment %}
	Home Page: Brand Row
{% endcomment %}
<div class="brands frontpage-row {{settings.header_text_position}}">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="fpcontroller">
		      <button class="btn btn-default btn-xs fpc-prev"><i class="fa fa-angle-left"></i></button>
		      <button class="btn btn-default btn-xs fpc-next"><i class="fa fa-angle-right"></i></button>
		    </div>
				<h3 class="h3"><span>Brands</span></h3>
				<div class="owl-carousel owl-fp-brands">
					{% for i in (1..12) %}
						{% assign brand_show =  'brand_' | append: i | append: '_show' %}
						{% assign brand_img =  'brand_' | append: i | append: '_img.png' %}
						{% assign brand_img_alt =  'brand_' | append: i | append: '_img_alt' %}	
						{% if settings[brand_show] %}
							<div class="item">
								<img src="{{brand_img | asset_url}}" alt="{{brand_img_alt}}">
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>