{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' %}
  {% if settings.breadcrumb_show %}
  <div class="container mt5">
    <div class="row">
      <div class="col-sm-12">
        <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
          <div class="container-delete">
            <div class="row">
              <div class="col-sm-12" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <div>
                  <a href="/" title="Back to the frontpage" itemprop="url">
                    <span itemprop="title">Home</span>
                  </a>  
                </div>
                {% if template contains 'product' %}

                  {% if collection %}
                    <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                    {% if collection.handle %}
                      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                      <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="{{url}}" itemprop="url">
                          <span itemprop="title">{{collection.title}}</span>
                        </a>
                      </div>
                    {% endif %}
                  {% endif %}
                  <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                  <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span class="active-page" itemprop="title">{{ product.title }}</span>  
                  </div>
                  

                {% elsif template contains 'collection' and collection.handle %}

                  <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                  {% if current_tags %}
                    {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                      <a href="{{url}}" itemprop="url"><span itemprop="title">{{collection.title}}</span></a>
                    </div>
                    <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                    <span>{{ current_tags | join: " + " }}</span>
                  {% else %}
                    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                      <span class="active-page" itemprop="title">{{ collection.title }}</span>
                    </div>
                  {% endif %}

                {% elsif template == 'blog' %}

                  <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                  {% if current_tags %}
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                      <a href="{{blog.url}}" itemprop="url">blog.title</a>
                    </div>
                    <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                      <span class="active-page" itemprop="title">{{ current_tags | join: " + " }}</span>
                    </div>
                  {% else %}
                  <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span class="active-page" itemprop="title">{{ current_tags | join: " + " }}</span>
                  </div>
                  
                  {% endif %}

                {% elsif template == 'article' %}

                  <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                  <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="{{blog.url}}" itemprop="url">
                      <span itemprop="title">{{blog.title}}</span>
                    </a>
                  </div>
                  <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                  <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span class="active-page" itemprop="title">{{ article.title }}</span>
                  </div>

                {% elsif template contains 'page' %}

                  <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                  <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span class="active-page" itemprop="title">{{ page.title }}</span>
                  </div>

                {% elsif template == 'cart' %}

                <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                  <span class="active-page" itemprop="title">Shopping Cart</span>
                </div>

                {% else %}

                 <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                 
                  <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span class="active-page" itemprop="title">{{ page_title }}</span>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
    
  {% endif %}
{% endunless %}
<div class="space main-spacer"></div>