<div class="sidebar">
  {% comment %}

    Side navigation for the product types, vendors, tags and collections.
    These can be based on the current collection or all products. Details in comments below.

    Note: Clicking on a tag will filter the products within the current collection.
    Clicking on a type or vendor link will take you out of the current collection
    to a standalone collection page. E.g. /collections/vendors?q=Pepsi

  {% endcomment %}

  {% comment %}
    Show the description for the current collection
  {% endcomment %}
  {% if collection.description.size > 0 and  settings.show_product_description %}
    <div class="rte area">
      {{ collection.description }}
    </div>
  {% endif %}

  {% comment %}
    Product types in the current collection
      - List all of the shop's types with collections.all.all_types
      - List the current collection's types with collection.all_types
  {% endcomment %}
  {% if settings.show_product_type %}
    <div class="area product-type">
    {% if collection.all_types.size > 0 and settings.show_product_type %}
    <h3 class="h3"><span>{{settings.collection_product_type_title}}</span></h3>
      
    {% for type in collection.all_types %}
      {% if collection.current_type == type %}
        <button class="btn-default btn-xs btn">
          {{ type }}
        </button>
      {% else %}
          <a class="btn btn-default btn-xs" href="/collections/types?q={{type}}">{{type}}</a>
      {% endif %}
    {% endfor %}
      
    {% else %}
      <p>Add a type to your products for this list to build itself. All lists are created in <strong>collection-sidebar.liquid</strong>.</p>
    {% endif %}
    </div>
  {% endif %}
  
  {% comment %}
    Product vendors in the current collection
      - List all of the shop's vendors with collections.all.all_vendors
      - List the current collection's vendors with collection.all_vendors
  {% endcomment %}
  {% if settings.show_collection_vendor %}
    <div class="collection-vendor area">
    {% if collection.all_vendors.size > 0 %}
    <h3 class="h3"><span>{{settings.collection_vendor_title}}</span></h3>
    
      {% for vendor in collection.all_vendors %}
        {% if collection.current_vendor == vendor %}
          <div class="btn btn-default btn-xs">
            {{ vendor }}
          </div>
        {% else %}
          <a href="/collections/vendors?q={{vendor}}" class="btn btn-default btn-xs">
            {{ vendor }}
          </a>         
        {% endif %}
      {% endfor %}
    {% else %}
      <p>Add a vendor to your product for this list to build itself.</p>
    {% endif %}
    </div>
  {% endif %}

  {% comment %}
    Product tags in the current collection
  {% endcomment %}
  {% if settings.show_tags %}
    <div class="area tags">
      <h3 class="h3"><span>Tags</span></h3>
      {% comment %}
        To provide a 'catch-all' link at the top of the list,
        check against the collection.handle, product type, and vendor.
      {% endcomment %}
      
      {% comment %}
        Good for /collections/all collection and regular collections
      {% endcomment %}
      {% if collection.handle %}
        <a class="btn btn-default btn-xs" href="/collections/{{ collection.handle }}">All {{ collection.title }}</a>

      {% comment %}
        Good for automatic type collections
      {% endcomment %}
      {% elsif collection.current_type %}
        <a class="btn btn-default btn-xs" href="{{ collection.current_type | url_for_type }}">All {{ collection.title }}</a>

      {% comment %}
        Good for automatic vendor collections
      {% endcomment %}
      {% elsif collection.current_vendor %}
        <a class="btn btn-default btn-xs" href="{{ collection.current_vendor | url_for_vendor }}">All {{ collection.title }}</a>

      {% endif %}
       

      {% comment %}
        And for the good stuff, loop through the tags themselves.
      {% endcomment %}
      {% for tag in collection.all_tags %}
        {% if current_tags contains tag %}
          <div class="btn btn-default btn-xs">
            {{ tag | link_to_remove_tag: tag }}
          </div>
        {% else %}
          
          {% comment %}
            Use link_to_add_tag if you want to allow filtering
            by multiple tags
          {% endcomment %}
          <div class="btn btn-default btn-xs">{{ tag | link_to_tag: tag }}</div>
            
        {% endif %}
      {% endfor %}
     </div> 
    
  {% endif %}

  {% comment %}
    Product Collections
  {% endcomment %}
  {% if collections.size > 1 and settings.show_collections_list %}
  <div class="area product-collection">
    <h3 class="h3"><span>Collections</span></h3>
    <ul class="aside-list list-unstyled">
      {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
          <li><a href="{{ collection.url }}" title="{{collection.title}}">{{collection.title}} ({{collection.products.size}})</a></li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% comment %}Side bar promitional image{% endcomment %}
  {% if settings.show_c_sb_img %}
  <div class="area promo-img">
    <a href="{{settings.c_sb_promo_url}}">
      <img src="{{'c_sb_img.jpg'|asset_url}}" alt="{{settings.c_sb_promo_alt}}" />
    </a>
  </div>
  {% endif %}
	<ul class="clearfix filters" style="padding:0px">
  <li class="clearfix filter">
  <h3 class="h3"><span>Collections</span></h3>
  <select class="coll-picker">
    <option value="all">All</option>
    {% for c in collections %}
    {% unless c.handle == 'all' %}
    {% if collection.handle == c.handle %}
    <option value="{{ c.handle }}" selected>{{ c.title }}</option>
    {% else %}
    <option value="{{ c.handle }}">{{ c.title }}</option>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </select>
</li>
  <li class="clearfix filter">
    {% assign tags = 'Regular, Long' | split: ',' %}
    <label>Shop by Length</label>
    <select class="coll-filter">
      <option value="">All</option>
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
      {% else %}
      <option value="{{ tag | handle }}">{{ tag }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </li>
  <li class="clearfix filter">
    {% assign tags = 'Tank, Tee' | split: ',' %}
    <label>Shop by Body</label>
    <select class="coll-filter">
      <option value="">All</option>
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
      {% else %}
      <option value="{{ tag | handle }}">{{ tag }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </li>
  <li class="clearfix filter">
    {% assign tags = 'V-Neck, Scoop, Crew' | split: ',' %}
    <label>Shop by Neck Line</label>
    <select class="coll-filter">
      <option value="">All</option>
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
      {% else %}
      <option value="{{ tag | handle }}">{{ tag }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </li>
</ul>
</div>


<style>
  .product-collection{ display: none !important; }
/* some default styles */
.filters { list-style-type: none; }
  .filters h3 { margin:0px !important; }
.filter { padding: 0px; }
.filter label { display: block; margin: 10px 0; }
.filter select {
  	max-width: 200px;
    padding: 5px;
    width: 100%;
    border-radius: 5px; 
}
</style>
<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection page.
     Give you product tag filter select element a class of coll-filter.
     Give your collection select a class of coll-picker.
     Brought to you by Caroline Schnapp. */
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  jQuery('.coll-picker').change(function() {
    if (jQuery(this).val()) {
      location.href = '/collections/' + jQuery(this).val();
    }
    else {
      location.href = '/collections/all';
    }
  });
  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
    delete Shopify.queryParams.page;
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    {% if collection.handle %}
    var newURL = '/collections/{{ collection.handle }}';
    if (newTags.length) {
      newURL += '/' + newTags.join('+');
    }
    var search = jQuery.param(Shopify.queryParams);
    if (search.length) {
      newURL += '?' + search;
    }
    location.href = newURL;
    {% else %}
    if (newTags.length) {
      Shopify.queryParams.constraint = newTags.join('+');
    }
    else {
      delete Shopify.queryParams.constraint;
    }
    location.search = jQuery.param(Shopify.queryParams);
    {% endif %}
  });
</script>
