{% comment %}
  Toggle between collection.liquid and collection.list.liquid with the
  ?view= parameter.
{% endcomment %}
<label class="ml20">View as</label>
<div class="collection-view form-control">
  <a title="Grid view" class="change-view{% unless template contains 'list' %} collection-view--active{% endunless %}" data-view="grid" data-toggle="tooltip" data-placement="bottom" data-original-title="Grid View">
    <i class="fa fa-th"></i>
  </a>
  <a title="List view" class="ml10 change-view{% if template contains 'list' %} collection-view--active{% endif %}" data-view="list" data-toggle="tooltip" data-placement="bottom" data-original-title="List View">
    <i class="fa fa-th-list"></i>
  </a>
</div>

<script>
  function replaceUrlParam(url, paramName, paramValue) {
    var pattern = new RegExp('('+paramName+'=).*?(&|$)'),
        newUrl = url.replace(pattern,'$1' + paramValue + '$2');
    if ( newUrl == url ) {
      newUrl = newUrl + (newUrl.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue;
    }
    return newUrl;
  }

  $(function() {
    $('.change-view').on('click', function() {
      var view = $(this).data('view'),
          url = document.URL,
          hasParams = url.indexOf('?') > -1;

      if (hasParams) {
        window.location = replaceUrlParam(url, 'view', view);
      } else {
        window.location = url + '?view=' + view;
      }
    });
  });
</script>