{% comment %}

  This snippet is used to showcase each collection during the loop,
  'for product in collection.products' in list-collections.liquid.

{% endcomment %}
{% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
<div class="single-collection-demo">
  <div class="row">
    <div class="col-sm-12">
    <div class="section-header">
      <h3 class="text-left h3"><span>{{ collection_title }}</span></h3>
      <a href="{{ collection.url }}" title="Browse our {{ collection_title }} collection">More {{ collection_title }} &rsaquo;</a>
    </div>
    </div>
  </div>
  <div class="row">
    {% for product in collection.products limit:4 %}
      {% assign grid_item_width = 'col-sm-3 col-xs-6' %}
      {% include 'product-grid-item' %}
    {% endfor %}
  </div>
</div>