{% comment %}
  Home Page: Featured Links Row 2
{% endcomment %}
<div class="featured-link featured-link-2 frontpage-row">
  <div class="container">
    <div class="row tp-link">
      {% for i in (1..2) %}
        {% assign featured_link = 'featured_2_' | append: i | append: '_src' %}
        {% assign featured_img = 'featured_2_' | append: i | append: '_img.jpg' %}
        {% assign featured_title = 'featured_2_' | append: i | append: '_title' %}
        {% assign featured_text = 'featured_2_' | append: i | append: '_text' %}
        {% assign featured_text_pos = 'featured_2_' | append: i | append: '_txt_pos' %}
        {% assign f_link_delay = '0.' | append: i | append: 's' %}
        <div class="fl_2_{{i}} {% if i == 1 %}col-sm-8{% else %}col-sm-4{% endif %} col-xs-12 wow fadeIn" data-wow-delay="{{f_link_delay}}">
          <a href="{{settings[featured_link]}}">
            <figure>
              <img src="{{featured_img | asset_url}}" alt="{{settings[featured_title]}}"/>
              <figcaption class="{{settings[featured_text_pos]}}">
                <div class="vm">
                  <div class="vm-inner">
                    <h3>{{settings[featured_title]}}</h3>
                    <p>{{settings[featured_text]}}</p>
                  </div>
                </div>
              </figcaption>     
            </figure>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
