{% comment %}
  Home Page: Featured Links Row
{% endcomment %}
<div class="featured-link frontpage-row">
  <div class="container">
    <div class="row">
      {% for i in (1..3) %}
        {% assign featured_link = 'featured_' | append: i | append: '_src' %}
        {% assign featured_img = 'featured_' | append: i | append: '_img.jpg' %}
        {% assign featured_title = 'featured_' | append: i | append: '_title' %}
        {% assign featured_text = 'featured_' | append: i | append: '_text' %}
        {% assign featured_text_pos = 'featured_' | append: i | append: '_txt_pos' %}
        {% assign f_link_delay = '0.' | append: i | append: 's' %}
        <div class="fl_{{forloop.index}} {% if i == 1 %}col-sm-6 col-xs-12{% else %}col-sm-3 col-xs-6{% endif %} wow fadeIn" data-wow-delay="{{f_link_delay}}">
          <a href="{{settings[featured_link]}}">
            <figure>
              <img src="{{featured_img | asset_url}}" alt="{{settings[featured_title]}}"/>
              <figcaption class="{{settings[featured_text_pos]}}">
                <div class="vm">
                  <div class="vm-inner">
                    <h3>{{settings[featured_title]}}</h3>
                    <p>{{settings[featured_text]}}</p>
                    <span class="link pc">Shop now <i class="fa fa-angle-right"></i></span>
                  </div>
                </div>
              </figcaption>     
            </figure>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
