<footer>

  {% assign show_footer_one = false %}
  
  {% comment %}Display footer row one if any of the footer section is not blank{% endcomment %}
  {% if settings.footer_linklist_1 != blank or settings.footer_linklist_3 != blank or settings.footer_linklist_3 != blank or settings.footer_display_newsletter or settings.footer_phone != blank or settings.footer_fax != blank or settings.footer_address != blank or settings.footer_email != blank or settings.footer_website != blank  %}
    {% assign show_footer_one = true %}
  {% endif %}

  {% if settings.footer_phone != blank or settings.footer_fax != blank or settings.footer_address != blank or settings.footer_email != blank or settings.footer_website != blank %}
    {% assign show_col_1 = true %}
  {% endif %}

  {% comment %}Footer row 1: Contact Information, Footer Navigation and Newsletter{% endcomment %}
  {% if show_footer_one %}
  <div class="footer-one">
    <div class="container">
      <div class="row">

        {% comment %} Footer contact information column {% endcomment %}
        {% if show_col_1 %}
        <div class="col-sm-3 contact-info">
          <h4 class="h4" hidden><span>{{settings.footer_contact_title}}</span></h4>
          {% if settings.footer_address != blank %}
          <div class="address">
            <i class="fa fa-map-marker"></i>
            <p class="m0">{{settings.footer_address}}</p>
          </div>
          {% endif %}
          {% if settings.footer_phone != blank or settings.footer_fax != blank %}
          <div class="phone">
            <i class="fa fa-phone"></i>
            {% if settings.footer_phone != blank %}
              <p class="m0">Phone: {{settings.footer_phone}}</p>
            {% endif %}
            {% if settings.footer_fax != blank %}
              <p class="m0">Fax: {{settings.footer_fax}}</p>
            {% endif %}
          </div>
          {% endif %}
          {% if settings.footer_email != blank or settigns.footer_website != blank %}
          <div class="email">
            <i class="fa fa-envelope"></i>
            {% if settings.footer_email != blank %}
              <p class="m0">Email: <a href="mailto:{{settings.email}}">{{settings.footer_email}}</a></p>
            {% endif %}
            {% if settings.footer_website != blank %}
              <p class="m0">Website: <a href="{{settings.footer_website}}">{{settings.footer_website}}</a></p>
            {% endif %}
          </div>
          {% endif %}
        </div>
        {% endif %}

        {% comment %} Footer navigation {% endcomment %}
        {% for i in (1..3) %}
          {% assign footer_link = 'footer_linklist_' | append: i %}
          {% assign footer_link_title = 'footer_linklist_' | append: i | append: '_title' %}

          {% if settings[footer_link] != blank %}
            <div class="col-sm-2">
              <h4 class="h4" hidden><span>{{settings[footer_link_title]}}</span></h4>
              <ul class="list-unstyled f-menu">
                {% assign l = settings[footer_link] %}
                {% for link in linklists[l].links %}
                  <li><i class="fa fa-angle-right" hidden></i><a title="{{link.title}}" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endfor %}

        {% if settings.footer_display_newsletter %}
        <div class="col-sm-3">
          <h4 class="h4" hidden><span>{{settings.newsletter_form_title}}</span></h4>
          <div class="newslatter-panel">
            <label class="mb10">{{settings.newletter_form_f_text}}</label>
            <form action="{{ settings.mailing_list_form_action }}" method="post" id="mc-embedded-subscribe-form-1" name="mc-embedded-subscribe-form" target="_blank">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Enter your email here" name="EMAIL" id="mail" class="input-group-field form-control" aria-label="Email Address" />
              <input type="submit" class="btn btn-default" value="+" data-toggle="tooltip" data-placement="bottom" title="Subscribe" name="subscribe" id="subscribe">
            </form>
          </div>
          {% include 'social-media' %}
        </div>
        {% endif %}

      </div>
      
    </div>
  </div>
  {% endif %}

  {% comment %}Footer row 2: Copy right and Payment icons{% endcomment %}
  <div class="footer-two" hidden>
    <div class="copyright-panel">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            {% if settings.display_copy_right %}
              <p>
                &copy; Copyright {{ "now" | date: "%Y" }} <a href="/">{{ shop.name }}</a>.
              </p>      
            {% endif %}
            {% if settings.show_cc_link %}
              <p>Theme by <a href="http://themeforest.net/user/greenfinchthemes" target="_blank">GreenfinchThemes</a></p>     
            {% endif %}
          </div>
          <div class="col-sm-8">
            {% comment %}
              Loop through available payment methods and show their icons.
            {% endcomment %}
            {% unless shop.enabled_payment_types == empty %}
            <ul class="inline-list payment-icons">
              {% for type in shop.enabled_payment_types %}
              <li>
                {% assign paymet_icon = type | append: '.png' %}
                <img src="{{ paymet_icon |asset_url}}" alt="">
              </li>
              {% endfor %}
            </ul>
            {% endunless %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</footer>

