{% comment %}
  We want control over our error text, so we'll loop through them.

  Alternatively, you can use the default layout to generate a
  <ul> wrapped with <div class="errors">
    - {{ form.errors | default_errors }}
{% endcomment %}
{% if form.errors %}
  <div class="alert alert-danger" role="alert">
    <p>Sorry, looks like something went wrong. Please correct the following and submit again:</p>

    <ul class="disc">
      {% for field in form.errors %}

        {% comment %}
          Check if it's a generic 'form' error and don't show the {{ field }}
        {% endcomment %}

        {% if field == 'form' %}
          <li>
            {{ form.errors.messages[field] }}
          </li>
        {% else %}
          <li>
            The <strong>{{ field | replace: 'body', 'Message' }}</strong> field {{ form.errors.messages[field] }}
          </li>
        {% endif %}

      {% endfor %}
     </ul>
  </div>
{% endif %}