{% comment %}
  Home Page: Front Page Blog Row
{% endcomment %}
{% if settings.front_page_blog_name != blank %}
<div class="front-page-blog frontpage-row">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h3 class="h3"><span>{{settings.front_page_blog_title}}</span></h3> 
        <div class="fpcontroller">
          <button class="btn btn-default btn-xs fpc-prev"><i class="fa fa-angle-left"></i></button>
          <button class="btn btn-default btn-xs fpc-next"><i class="fa fa-angle-right"></i></button>
        </div>
      </div>
    </div>

    <div class="row">
      

        <div class="owl-carousel owl-fp-blog">
          {% for article in blogs[{{settings.front_page_blog_name}}].articles limit: 8 %}

            {% if article.content contains "<img" %}
              {% assign src = article.content | split: 'src="' %}
              {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn';; | replace: 'http:http://';;, 'http://';; | remove: 'https:' %}
            {% endif %}

            <div class="item wow fadeInUp animated col-sm-12" data-wow-delay="0.{{fooloop.index}}s">
              <div class="fpb-wrapper">
                {% if src != blank %}
                <img class="blog-fimg" src="{{src}}" alt="{{ article.title }}">
                {% endif %}
                
                <h4 class="fpb-title"><a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a></h4>
                <span class="author"><i class="fa fa-pencil-square-o"></i> {{ article.author }}</span>
                <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                  <i class="fa fa-calendar"></i> {{ article.published_at | date: '%b %d, %Y' }}
                </time>
                {% comment %}
                  Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
                  Since this is just a listing page, you can either use the excerpt or truncate the full article.
                {% endcomment %}
                <div class="rte">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    <p>{{ article.content | strip_html | truncatewords: 10 }}</p>
                  {% endif %}
                </div>

                <p><a href="{{ article.url }}" class="btn btn-default">Read more</a></p>
              </div>
            </div>

          {% endfor %}
        </div>
     
    </div>
  </div>
  
</div>
{% endif %}