
{% comment %}
  Home Page: Front page collection (Small product thumb) Row
{% endcomment %}

{% assign total_xs_collections = 0 %}
{% assign grid_item_width = 'col-sm-12' %}
{% assign fpc_xs_1 = settings.frontpage_collection_xs_1 %}
{% assign fpc_xs_2 = settings.frontpage_collection_xs_2 %}

{% if fpc_xs_1 != blank %}
  {% assign total_xs_collections = total_xs_collections | plus: 1 %}
  {% assign single_collection = fpc_xs_1 %}
{% endif %}
{% if fpc_xs_2 != blank %}
  {% assign total_xs_collections = total_xs_collections | plus: 1 %}
  {% assign single_collection = fpc_xs_2 %}
{% endif %}

{% capture  no_prodcts %}
  {% unless emptyState %}
    {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
    {% assign emptyState = true %}
  {% endunless %}
  <div class="col-sm-12">
    <div class="helper-section">
      <div class="helper-note">
        <span class="helper-icon"></span>
        <h3 class="mt0">Almost there...</h3>
        <p>You have no products in your collection. This placeholder will appear until you <a href="/admin/collections">add a product to this collection</a>.</p>
        <p><a class="admin-btn-primary" href="/admin/collections">Add a Product</a></p>
      </div>
      <div class="row">
        {% for i in (1..4) %}
          <div class="col-sm-6">
            <div class="product-thumb product-thumb-xs">
              <div class="img-wrapper pull-left">
                <a href="/admin/products" class="product-grid-image">
                  {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ i }}.png{% endcapture %}
                  {{ imageUrl | img_tag }}
                </a>
              </div>
              <div class="pull-left info-wrapper">
                <a href="/admin/products" class="pt-title">Product Title</a>
                <div class="dummy-review">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="price-wrapper">$19.99</span>
                <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
              </div>

            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endcapture %}

{% if total_xs_collections > 0 %}
<div id="frontpage-collections-xs" class="frontpage-collection frontpage-row {{settings.header_text_position}}">
  <div class="container">
    <div class="row single-collection">

      {% if fpc_xs_1 != blank %}
      <div class="col-sm-6 cl-1">
        <h3 class="h3"><span>{{collections.[fpc_xs_1].title}}</span></h3> 
        <div class="row">
          <div class="fpcontroller">
            <button class="btn btn-default btn-xs fpc-prev"><i class="fa fa-angle-left"></i></button>
            <button class="btn btn-default btn-xs fpc-next"><i class="fa fa-angle-right"></i></button>
          </div>
          <div class="{% if collections.[fpc_xs_1].products.length > 0 %}owl-carousel owl-frontpage-collection-xs{% endif %}">
            {% for product in collections.[fpc_xs_1].products limit: 8 }} %}
              {% capture thecycle %}{% cycle '1', '2'  %}{% endcapture %}
              {% if thecycle == '1' %}<div class='item'>{% endif %} 
                {% assign data_wow_detlay = '0.' | append: forloop.index %}
                {% include 'product-grid-item-xs' %}
              {% if thecycle == '2' or forloop.last %}</div>{% endif %} 
            {% else %}
              {{no_prodcts}}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

      {% if fpc_xs_2 != blank %}
      <div class="col-sm-6 cl-2">
        <h3 class="h3"><span>{{collections.[fpc_xs_2].title}}</span></h3> 
        <div class="row">
        
          <div class="fpcontroller">
            <button class="btn btn-default btn-xs fpc-prev"><i class="fa fa-angle-left"></i></button>
            <button class="btn btn-default btn-xs fpc-next"><i class="fa fa-angle-right"></i></button>
          </div>
          <div class="{% if collections.[fpc_xs_2].products.length > 0 %}owl-carousel owl-frontpage-collection-xs{% endif %}">
            {% for product in collections.[fpc_xs_2].products limit: 8 }} %}
              {% capture thecycle %}{% cycle '1', '2'  %}{% endcapture %}
              {% if thecycle == '1' %}<div class='item'>{% endif %} 
                {% assign data_wow_detlay = '0.' | append: forloop.index %}
                {% include 'product-grid-item-xs' %}
              {% if thecycle == '2' or forloop.last %}</div>{% endif %} 
            {% else %}
              {{no_prodcts}}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      
    </div>
  </div>
</div>
{% endif %}