{% comment %}
  Home Page: Frontpage Collection
{% endcomment %}

{% assign total_collections = 0 %}

{% if settings.fp_tab_1 != blank %}
  {% assign total_collections = total_collections | plus: 1 %}
  {% assign single_collection = settings.fp_tab_1 %}
{% endif %}

{% if settings.fp_tab_2 != blank %}
 
 {% assign total_collections = total_collections | plus: 1 %}
 {% assign single_collection = settings.fp_tab_2 %}
{% endif %}

{% if settings.fp_tab_3 != blank %}
  
  {% assign total_collections = total_collections | plus: 1 %}
  {% assign single_collection = settings.fp_tab_3 %}
{% endif %}

{% comment %}
  Change the grid item width by using classes from the grid in
  the grid_item_width variable.

  Example:
    - {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endcomment %}

{% assign grid_item_width = 'item col-sm-12' %}

{% assign lazyLoading = 'lazyOwl' %}

{% capture  no_prodcts %}
  {% unless emptyState %}
    {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
    {% assign emptyState = true %}
  {% endunless %}
  <div class="col-sm-12">
    <div class="helper-section">
      <div class="helper-note">
        <span class="helper-icon"></span>
        <h3 class="mt0">Almost there...</h3>
        <p>You have no products in your collection. This placeholder will appear until you <a href="/admin/collections">add a product to this collection</a>.</p>
        <p><a class="admin-btn-primary" href="/admin/collections">Add a Product</a></p>
      </div>
      <div class="row">
        {% for i in (1..5) %}
          <div class="col-md-15 col-sm-3 col-xs-6">
            <div class="product-thumb">
              <div class="img-wrapper">
                <a href="/admin/products" class="grid__image">
                  {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ i }}.png{% endcapture %}
                  {{ imageUrl | img_tag }}
                </a>
              </div>
              <div class="info-wrapper text-left">
                <a href="/admin/products" class="pt-title">Product Title</a>
                <div class="dummy-review">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="price-wrapper">$19.99</span>
              </div>
              <div>
                <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                <a data-toggle="tooltip" data-placement="top" title="" class="btn btn-default" data-product-handle="brisket-pariatur" data-original-title="Quick View">
                    <i class="fa fa-search"></i>
                  </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endcapture %}

{% if total_collections != 0 %}
<div id="frontpage-collections" class="frontpage-collection frontpage-row {{settings.header_text_position}}">
  <div class="container">
  {% if total_collections > 1 %}
    <div class="row">
      <div class="col-sm-12">
        <div class="fpcontroller">
          <button class="btn btn-default btn-xs fpc-prev"><i class="fa fa-angle-left"></i></button>
          <button class="btn btn-default btn-xs fpc-next"><i class="fa fa-angle-right"></i></button>
        </div>
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            {% if settings.fp_tab_1 != blank %}
              <li role="presentation" class="active"><a data-url="{{collections.[settings.fp_tab_1].url}}" data-total-products="{{collections.[settings.fp_tab_1].products.length}}" href="#collection1" aria-controls="collection1" role="tab" data-toggle="tab"><h3 class="h3"><span>{{collections.[settings.fp_tab_1].title}}</span></h3></a></li>
            {% endif %}
            {% if settings.fp_tab_2 != blank %}
            <li role="presentation"><a data-url="{{collections.[settings.fp_tab_2].url}}" data-total-products="{{collections.[settings.fp_tab_2].products.length}}" href="#collection2" aria-controls="collection2" role="tab" data-toggle="tab"><h3 class="h3"><span>{{collections.[settings.fp_tab_2].title}}</span></h3></a></li>
            {% endif %}
            {% if settings.fp_tab_3 != blank %}
            <li role="presentation"><a data-url="{{collections.[settings.fp_tab_3].url}}" data-total-products="{{collections.[settings.fp_tab_3].products.length}}" href="#collection3" aria-controls="collection3" role="tab" data-toggle="tab"><h3 class="h3"><span>{{collections.[settings.fp_tab_3].title}}</span></h3></a></li>
            {% endif %}
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            {% if settings.fp_tab_1 != blank %}
            <div role="tabpanel" class="tab-pane active" id="collection1">
              
              <div class="row">
                <div class="{% if collections.[settings.fp_tab_1].products.length > 0 %}owl-carousel owl-frontpage-collection{% endif %}">
                  {% for product in collections.[settings.fp_tab_1].products %}
                    {% assign data_wow_detlay = '0.' | append: forloop.index %}
                    {% include 'product-grid-item' %}  
                  {% else %}
                    {{no_prodcts}}
                  {% endfor %}
                </div>
              </div>
              
            </div>
            {% endif %}

            {% if settings.fp_tab_2 != blank %}
            <div role="tabpanel" class="tab-pane" id="collection2">
              <div class="row">
                <div class="{% if collections.[settings.fp_tab_2].products.length > 0 %}owl-carousel owl-frontpage-collection{% endif %}">
                  {% for product in collections.[settings.fp_tab_2].products %}
                    {% assign data_wow_detlay = '0.' | append: forloop.index %}
                    {% include 'product-grid-item' %}
                  {% else %}
                    {{no_prodcts}}
                  {% endfor %}
                </div>
              </div>
              
            </div>
            {% endif %}

            {% if settings.fp_tab_3 != blank %}
            <div role="tabpanel" class="tab-pane" id="collection3">
              <div class="row">
                <div class="{% if collections.[settings.fp_tab_3].products.length > 0 %}owl-carousel owl-frontpage-collection{% endif %}">
                  {% for product in collections.[settings.fp_tab_3].products %}
                    {% assign data_wow_detlay = '0.' | append: forloop.index %}
                    {% include 'product-grid-item' %}
                  {% else %}
                    {{no_prodcts}}
                  {% endfor %}
                </div>
              </div>
              
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>

  {% elsif total_collections == 1 %}

  <div class="row single-collection">
    <div class="col-sm-12">
      <h3 class="h3"><span>{{collections.[single_collection].title}}</span></h3> 
         
        <div class="row">
          {% comment %}
            Loop through products in your selected Frontpage collection.
            This collection is created by default, but you must add products to it.
          {% endcomment %}
          <div class="fpcontroller">
            <button class="btn btn-default btn-xs fpc-prev"><i class="fa fa-angle-left"></i></button>
            <button class="btn btn-default btn-xs fpc-next"><i class="fa fa-angle-right"></i></button>
          </div>
          <div class="{% if collections.[single_collection].products.length > 0 %}owl-carousel owl-frontpage-collection{% endif %}">
            {% for product in collections.[single_collection].products %}
              {% assign data_wow_detlay = '0.' | append: forloop.index %}
              {% include 'product-grid-item' %}
            {% else %}
              {{no_prodcts}}
            {% endfor %}
          </div>
        </div>
    </div>
  </div>

  {% endif %}

  </div>
</div>
{% endif %}