{% comment %}
  Global: Website Header
{% endcomment %}
<header class="site-header">
  <div class="container">
    <div class="row" hidden>
      <div class="col-sm-3 hidden-xs">
        {% if settings.phone_no_header != '' or settings.timing_msg != '' %}
        <div class="vm">
            <div class="vm-inner">
              <div class="h-contact">
                <i class="fa fa-phone"></i>
                <h5><b>CALL US NOW {{settings.phone_no_header}}</b></h5>
                <div>{{settings.timing_msg}}</div>
              </div>
            </div>
        </div>
        {% endif %}
      </div>
      <div class="col-sm-6 col-xs-12">
          {% comment %} Website logo {% endcomment %}
          <div class="header-logo text-center vm" itemscope itemtype="http://schema.org/Organization">
            <div class="vm-inner">
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url">
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <h1><a href="/" itemprop="url">{{ shop.name }}</a></h1>
              {% endif %}
            </div>
          </div>
      </div>
      <div class="col-sm-3 hidden-xs">
        <div class="vm pull-right">
          <div class="vm-inner">
            <div class="minicart-wrapper">
              <a href="/cart" id="cartToggle">

                <i class="fa fa-shopping-cart "></i>
                <h5><b>Shopping Cart</b></h5>
                <div>(<span id="cartCount">{{ cart.item_count }}</span> item) - <span class="pc" id="cartCost">{{ cart.total_price | money }}</span></div>
                
              </a>
              <div class="minicart">
                <div class="template-minicart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
