{% comment %}
  Global: Website Newsletter Popup window
{% endcomment %}
{% if settings.show_popup %}
<div class="modal fade site-modal" id="newsletter-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {% if settings.display_popupimg %}
          <img src="{{ 'popup_img.jpg' | asset_url }}" alt="" />
        {% endif %}
        
        <form action="{{ settings.mailing_list_form_action_popup }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="newsletter-popup">
          <h3 class="h3">{{settings.popup_form_title}}</h3>
          <p>{{settings.popup_form_text}}</p>
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <input required type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="your-email@shopify.com" name="EMAIL" id="exampleInputEmail2" class="form-control" aria-label="Email Address">  
          </div>
          <input type="submit" class="btn btn-default" value="Subscribe" name="subscribe">
        </form>
       
      </div>
    </div>
  </div>
</div>
{% endif %}