{% comment %}

  Add Facebook and Pinterest Open Graph meta tags to product pages
  for friendly Facebook sharing and Pinterest pinning.

  More info Open Graph meta tags
    - https://developers.facebook.com/docs/opengraph/using-objects/
    - https://developers.pinterest.com/rich_pins/

  Use the Facebook Open Graph Debugger for validation (and cache clearing)
    - http://developers.facebook.com/tools/debug

  Validate your Pinterest rich pins
    - https://developers.pinterest.com/rich_pins/validator/

{% endcomment %}
{% if template contains 'product' %}
  <meta property="og:type" content="product">
  <meta property="og:title" content="{{ product.title | strip_html | escape }}">
  {% for image in product.images limit:3 %}
  <meta property="og:image" content="http:{{ image.src | product_img_url: 'grande' }}">
  <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: 'grande' }}">
  {% endfor %}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | stip_html | escape }}">
  <meta property="og:price:currency" content="{{ shop.currency }}">
{% elsif template contains 'article' %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ article.title | strip_html | escape }}">
  {% assign img_tag = '<' | append: 'img' %}
  {% if article.content contains img_tag %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
  <meta property="og:image" content="http:{{ src }}">
  <meta property="og:image:secure_url" content="https:{{ src }}">
    {% endif %}
  {% endif %}
{% else %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title | escape }}">
  {% if settings.logo_use_image %}
  <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">
  <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">
  {% endif %}
{% endif %}
{% if page_description %}
  <meta property="og:description" content="{{ page_description | escape }}">
{% endif %}
  <meta property="og:url" content="{{ canonical_url }}">
  <meta property="og:site_name" content="{{ shop.name }}">
