{% comment %}

  This snippet renders a custom widget based on the current 'paginate' context,
  defined in { % paginate XXXX by 5 % } tags wrapping the content.
  The example below breaks the pagination down so you can setup your own styles and behavior if you wish.

  Basic Pagination Usage:
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>

  Replace Text:
    <div class="pagination">
      {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
    </div>

  More information:
   - index#pagination
   - http://docs.shopify.com/themes/liquid-variables/paginate

{% endcomment %}

<ul class="pagination">
  {% if paginate.previous %}
    <li><a href="{{ paginate.previous.url }}" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ paginate.previous.title }}"><i class="fa fa-angle-left"></i></a></li>
  {% else %}
    <li class="disabled"><span><i class="fa fa-angle-left"></i></span></li>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <li>
        <a href="{{ part.url }}" title="">{{ part.title }}</a>
      </li>
    {% else %}
      {% if part.title == paginate.current_page %}
        <li class="active"><span>{{ part.title }}</span></li>
      {% else %}
        <li><span>{{ part.title }}</span></li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next %}
    <li><a data-toggle="tooltip" data-placement="bottom" data-original-title="{{ paginate.next.title }}" href="{{ paginate.next.url }}"><i class="fa fa-angle-right"></i></a></li>
  {% else %}
    <li class="disabled"><span><i class="fa fa-angle-right"></i></span></li>
  {% endif %}
</ul>