<script id="quickviewTemplate" type="text/template">
  {% raw %}
  <div class="modal-body">
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="frmQuickView" style="margin:0;">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <div class="row">
          <div class="col-sm-6">
            
            <div id="qv-main-img">
              <img src="${featured_image}" alt="${title}" />
            </div>
            <div class="owl-carousel owl-qv-thumbs thumb owl-venas-theme mt10">
              {{each images}}
              <div><img src="${this}"/></div>
             {{/each}}
            </div>
          </div>
          <div class="col-sm-6">

              <h2 itemprop="name" class="qv-ptitle">
                <a href="${url}">${title}</a>
              </h2>
              <div class="ratting"></div>
              {{if show_vendor }}
              <h5 itemprop="brand">${vendor}</h5>
              {{/if}}

              <div class="pqv-description mt20">{{html description}}</div>

              <div class="price-wrapper mt20">
                <span class="price pc" id="price-preview-qv">
                  {{html Shopify.formatMoney(price, Venas.money_format)}}
                </span>    
              </div>

              <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
                  <label></label>
                  <select id="product-select" name="id" class="variants">
                  {{each variants}}
                      <option value="${id}">${title} - <span class="money">${price}</span></option>
                  {{/each}}
                  </select>
              </div>  
              <div class="qty-wrapper dib">
                <label for="qty">Quantity</label>
                <div class="incrementer">
                   <input type="number" id="qty" name="quantity" class="form-control" value="1" min="1"/>
                </div>
              </div>
             
              <button id="add" type="submit" class="btn btn-default ml20"><i class="fa fa-shopping-cart" data-loading-text="ADDING..."></i> Add to Cart</button>
              
          </div>
      </div>
    </form>  
  </div>        
  {% endraw %} 
</script>


<script id="addConfirmTemplate" type="text/template">
  {% raw %}
    <div class="media">
      <div class="media-left pull-left">
        <a href="#">
          <img class="media-object" src="${image}">
        </a>
      </div>
      <div class="media-body p20">
        <h4 class="media-heading">Item <b>${title}</b> added to your cart successfully</h4>
        <div class="mt20"><a class="btn btn-default mr5" href="/cart">Go to Cart</a><button class="btn btn-default btn-continue-shopping">Continue Shoping</button></div> 
      </div>
    </div>
  {% endraw %}
</script>