{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  This example has each product on it's own line for all breakpoints.

{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Set a class for sold-out and on-sale items
{% endcomment %}
<div class="product-list row {% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}

  <div class="col-sm-3 col-xs-3">
    
    <a href="{{ product.url | within: collection }}" class="{% if settings.change_hover_img and product.images.size > 1 %}change-product-on-hover{% endif %}" data-default-img="{{ product.featured_image.src | product_img_url: 'large' }}" data-hover-img="{{ product.images[1].src | product_img_url: 'large' }}">

      <div class="plist-img-wrapper">
        <img class="product-list-image" src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
        {% if on_sale %}
          {% if settings.display_on_sale %} 
            <div class="onsale-wrapper {{settings.product_label_sale_position}}"><label>SALE</label></div>  
          {% endif %}
        {% endif %}
      </div>
    </a>  
  </div>
  <div class="col-sm-9 col-xs-9">
    <h5 class="pl-title"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h5>
    <div class="row">
      <h3 class="price-wrapper col-sm-6">
         <span class="current-price">
          {% if sold_out %}
            <strong>Sold Out</strong>
          {% endif %}

          {% comment %}
            You can show a leading 'from' or 'up to' by checking 'product.price_varies'
            if your variants have different prices.
          {% endcomment %}
          {% if product.price_varies %}From{% endif %}

          {{ product.price | money }}
        </span>
        {% if on_sale %}
          <span class="discount-from">{{ product.compare_at_price | money }}</span>
        {% endif %}
      </h3>
      <div class="col-sm-6">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
    </div>
    <div class="short-desc">{{ product.description | strip_html | truncatewords: 30 | replace: '[[start tab]]', '' | replace: '[[end tab]]': '' }}
    </div>
    <div class="mt20">
      {% if settings.ajax_cart and settings.hide_add_to_cart_ajax == false %}
      <a data-default-option="{{product.variants[0].id}}" href="#" class="btn btn-default add-to-cart-thumb" data-loading-text="Adding..."><i class="fa fa-shopping-cart"></i> Add to Cart</a>
      {% endif %}
      {% if settings.display_quick_view %}
        <a data-toggle="tooltip" data-placement="top" title="Quick View" class="btn btn-default quick-view-btn" data-product-handle="{{product.handle}}">
          <i class="fa fa-search"></i>
        </a>
      {% endif %}
    </div>
  </div>
  <div class="col-sm-12">
    <hr>
  </div>  

  

</div>