{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Set a class for sold-out and on-sale items
{% endcomment %}
<div class="{{grid_item_width}}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %} wow fadeIn" data-wow-delay="{{data_wow_detlay}}s">  
  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <div class="product-thumb product-thumb-xs">
    <div class="img-wrapper pull-left">
      <a href="{{ product.url | within: collection }}" class="product-grid-image">
        <img class="default-img" src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" />
      </a>
    </div>
    <div class="pull-left info-wrapper">
      
      <a class="pt-title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
      {% if settings.show_product_review %}<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>{% endif %}
      <span class="price-wrapper">
         <span class="current-price">
          {% if sold_out %}
            <strong>Sold Out</strong>
          {% endif %}

          {% comment %}
            You can show a leading 'from' or 'up to' by checking 'product.price_varies'
            if your variants have different prices.
          {% endcomment %}
          {% if product.price_varies %}From{% endif %}

          {{ product.price | money }}
        </span>
        {% if on_sale %}
          <span class="discount-from">{{ product.compare_at_price | money }}</span>
        {% endif %}
      </span>
      
      {% if settings.ajax_cart and settings.hide_add_to_cart_ajax == false %}
        <a data-default-option="{{product.variants[0].id}}" href="#" class="btn btn-default add-to-cart-thumb" data-loading-text="Adding..."><i class="fa fa-shopping-cart"></i> Add to Cart</a>
      {% endif %}
    </div>
  </div>
</div>