<div class="sidebar">

  {% comment %}
    Product Collections
  {% endcomment %}
  {% if collections.size > 1 and settings.show_collections_list_psb %}
  <div class="cl-list area">
    <h3 class="h3"><span>Collections</span></h3>
    <ul class="aside-list list-unstyled">
      {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
          <li><a href="{{ collection.url }}" title="{{collection.title}}">{{collection.title}} ({{collection.products.size}})</a></li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% comment %}Realted products{% endcomment %}
	{% if settings.display_related_products %}
    <div class="area related-products">
      {% include 'related-products' %}
    </div> 
  {% endif %}

  {% comment %}Side bar promitional image{% endcomment %}
  {% if settings.show_p_sb_img %}
  <div class="area promo-img">
    <a href="{{settings.p_sb_promo_url}}">
      <img src="{{'p_sb_img.jpg'|asset_url}}" alt="{{settings.p_sb_promo_alt}}" />
    </a>
  </div>
  {% endif %}
  
</div>