{% if template != 'cart' %}
<div id="quick-view-modal" class="modal modal-quick-view fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
{% endif %}