<!-- Solution brought to you by Caroline Schnapp -->
<!-- See this: http://wiki.shopify.com/Related_Products -->

{% assign number_of_related_products_to_show = {{settings.number_of_related_products_to_show}} %}
{% assign image_size = 'compact' %}

{% assign heading = {{settings.related_product_heading}} %}

{% assign number_of_related_products_to_fetch = number_of_related_products_to_show | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
  {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
  {% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
  <div class="row">
    <div class="col-sm-12">
      <h3 class="h3"><span>{{ heading }}</span></h3>   
      <div class="fpcontroller">
        <button class="btn btn-default btn-xs fpc-prev"><i class="fa fa-angle-left"></i></button>
        <button class="btn btn-default btn-xs fpc-next"><i class="fa fa-angle-right"></i></button>
      </div> 
    </div>
  </div>
  <div class="row">
    {% assign current_product = product %}
    {% assign current_product_found = false %}
    {% assign grid_item_width = 'col-sm-12' %} 
    
    <div class="owl-carousel owl-related-products">
      {% for product in collection.products limit: settings.number_of_related_products_to_show %}

        {% if product.handle == current_product.handle %}
           {% assign current_product_found = true %}
        {% else %}

          {% unless current_product_found == false and forloop.last %}
            <div class='item'>
             {% include 'product-grid-item-xs' %}
            </div> 
          {% endunless %}
           
        {% endif %}

      {% endfor %}
    </div>
  </div>

{% endif %}