{% comment %}

  A snippet to include a search bar anywhere in your theme.
  Note we are using 'input-group' for the layout. Look under Forms > Input Groups for some demos.

  More information:
   - http://docs.shopify.com/themes/liquid-variables/search

  Return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

<form action="/search" method="get" class="input-group search-bar mb20" role="search">

  {% comment %}
    Uncomment the following hidden input to only show products in your search results
  {% endcomment %}
  {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
  <div class="col-lg-6 col-sm-offset-3">
    <div class="input-group">
      <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search our store" class="form-control" aria-label="Search our store">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">Search</button>
      </span> 
    </div>
  </div>
</form>