{% comment %}

  This snippet defines the default structure of each search result.

  'item' refers to the result, but typically mimics the product liquid tag,
  so you can access product liquid tags with {{ item.XXX }}.

  Remember that results aren't specific to products, so don't depend on
  a featured image or item.type. Pages, for example, have a blank item.type.

  Product liquid tag info:
   - http://docs.shopify.com/themes/liquid-variables/product

{% endcomment %}

<div class="row">
  <div class="col-sm-12">
    <div class="media">
      {% if item.featured_image %}
      {% comment %}
        We have a featured_image, so it's likely a product
      {% endcomment %}
      <a class="pull-left" href="{{ item.url }}" title="{{ item.title | escape }}">
        {{ item.featured_image.src | product_img_url: 'medium' | img_tag: item.featured_image.alt }}
      </a>
      {% endif %}
      <div class="media-body">
        <h4 class="media-heading">{{ item.title | link_to: item.url }}</h4>

        {% comment %}
          To show the price, let's pull what was already done on the product page,
          but change product to item.
        {% endcomment %}
        <div class="st-price">
        {% if item.compare_at_price > item.price %}
          <span class="on-sale" itemprop="price">
            {{ item.price | money }}
          </span>
          <del>
            {{ item.compare_at_price_max | money }}
          </del>
        {% else %}
          <span itemprop="price">
            {{ item.price | money }}
          </span>
        {% endif %}
        </div>
        {% comment %}
          Get a brief excerpt of raw text from the page/product
        {% endcomment %}
        <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
      </div>
    </div>  
  </div>
</div>