{% comment %}
  List out your main-menu linklist (default)

  More info on linklists:
    - http://docs.shopify.com/themes/liquid-variables/linklists
{% endcomment %}

{% capture megamenu %}
  <li>
    <a href="{{settings.mega_menu_url}}">{{settings.mega_menu_title}}</a>
    <div class="megamenu half-width">
      <div class="container">
        <div class="row">
          {% for i in (1..3) %}
            {% assign mm_link = 'mega_menu_' | append: i %}
            {% assign c_list = settings[mm_link] %}
            {% assign mm_title = 'mm_col_' | append: i | append: '_title' %}
              <div class="col-sm-4">
                <span>{{settings[mm_title]}}</span>
                <ul>
                  {% for link in linklists[c_list].links %}
                    <li><a href="{{link.url}}">{{link.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </li>
{% endcapture %}

{% capture searchbar %}
<form action="/search" method="get" class="searchbox" role="search">
 
  <input type="search" name="q" value="" placeholder="Search our store" class="searchbox-input" onkeyup="buttonUp();" aria-label="Search our store">
  <button class="searchbox-submit" type="submit">
    <i class="fa fa-search"></i>
  </button>
  <span class="searchbox-icon"><i class="fa fa-search"></i></span>
  
</form>
{% endcapture %}

{% assign megamenu_index = settings.mega_menu_index | plus:0 %}

<nav class="navbar" role="navigation" id="main-navigation">
  
  <div class="container">
    <div class="row">
       <div class="col-sm-4 col-xs-12">
          {% comment %} Website logo {% endcomment %}
          <div class="header-logo text-center vm" itemscope itemtype="http://schema.org/Organization">
            <div class="vm-inner">
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url">
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo" id="header-logo">
                </a>
              {% else %}
                <h1><a href="/" itemprop="url">{{ shop.name }}</a></h1>
              {% endif %}
            </div>
          </div>
      </div>
      <div class="col-sm-8 col-xs-12">
            <ul id="jetmenu" class="jetmenu custom">

      {% for link in linklists.main-menu.links %}

        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        
        {% if forloop.index == megamenu_index and settings.show_mm %}
          {{megamenu}}
        {% endif %}

        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="has-dropdown{% if link.active %}active{% endif %}">
            <a href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ link.title }}</a>
            <ul class="dropdown">
              {% for childlink in linklists[child_list_handle].links %}
                <li {% if childlink.active %}class="active"{% endif %}><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>

                  {% comment %}dropdown level 2{% endcomment %}
                  {% assign child_list_handle_l2 = childlink.title | handleize %}
                  {% if linklists[child_list_handle_l2].links != blank %}
                    <ul class="dropdown">
                      {% for childlink_l2 in linklists[child_list_handle_l2].links %}
                        <li {% if childlink_l2.active %}class="active"{% endif %}><a href="{{ childlink_l2.url }}">{{ childlink_l2.title | escape }}</a>

                          {% comment %}dropdown level 3{% endcomment %}
                          {% assign child_list_handle_l3 = childlink_l2.title | handleize %}
                          {% if linklists[child_list_handle_l3].links != blank %}
                            <ul class="dropdown">
                              {% for childlink_l3 in linklists[child_list_handle_l3].links %}
                                <li {% if childlink_l3.active %}class="active"{% endif %}><a href="{{ childlink_l3.url }}">{{ childlink_l3.title | escape }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}

                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li {% if link.active %}class="active"{% endif %}>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}

      {% endfor %}
      <!--
      <li class="right searchbar-wrapper" hidden>
        {{searchbar}}
      </li>
	-->
       <li class="visible-xs-inline-block"><a href="/cart"><i class="fa fa-shopping-cart "></i> My cart</a></li>
    </ul>
    </div>
    
      
    </div>
        

  </div>
</nav>