{% comment %}
  Home Page: Slideshow Row
{% endcomment %}

{% assign home_slide_count_int = settings.home_slide_count | plus: 0 %}

<div class="slideshow">
  {% if settings.full_width_slider == false %}<div class="container">{% endif %}
  <div class="flexslider auto-play scaled-text-base loading homepage-slideshow">
    <div class="slider-loader">
      <img src="{{'loader.gif'|asset_url}}" alt="Please wait">
    </div>
    <ul class="slides">
      {% for i in (1..5) %}
      {% assign slide_show = 'slide_' | append: i | append: '_show' %}
      
      {% if settings[slide_show] %}
      {% assign slide_img_url = 'slide_' | append: i | append: '.jpg' %}
      {% assign slide_link_url = 'slide_' | append: i | append: '_url' %}
      {% assign slide_btn_text = 'slide_' | append: i | append: '_btn_text' %}
      {% assign slide_content = 'slide_' | append: i | append: '_content' %}
      {% assign slide_text_pos = 'slide_' | append: i | append: '_txt_pos' %}

      <li class="slide slide_{{i}}">
        {% if settings[slide_link_url] != '' %}<a href="{{ settings[slide_link_url] }}">{% endif %}
        {% comment %}<img src="" class="slider-img" data-src="{{ slide_img_url | asset_url }}" alt="Slide {{i}}" />{% endcomment %}
        <img src="{{ slide_img_url | asset_url }}" class="slider-img" alt="Slide {{i}}" />
        <div class="overlay-text {{ settings[slide_text_pos] }}">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="inner">
                  <div class="text">
                    {{settings[slide_content]}}
                    {% unless settings[slide_btn_text] == blank or settings[slide_btn_text].empty? %}
                    <span class="button btn-lg btn-default btn">{{settings[slide_btn_text]}}</span>
                    {% endunless %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if settings[slide_link_url] != '' %}</a>{% endif %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% if settings.full_width_slider == false %}</div>{% endif %}
 </div>



