{% if settings.s_s_tw or settings.s_s_go or settings.s_s_pi or settings.s_s_fa or settings.s_s_fb %}
<hr class="mt0">
<ul class="social-sharing list-inline">
    <li><span>{{ settings.label_share }}:</span></li>
    {% if settings.s_s_tw %}
    <li class="socitem twittercont">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
    </li>
    {% endif %}
    {% if settings.s_s_go %}
    <li class="socitem plusonecont">
        <g:plusone size="medium" annotation="none"></g:plusone>
    </li>
    {% endif %}
    {% if settings.s_s_pi %}
    <li class="socitem pinterestcont">
        <a href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media=http:{{ product.featured_image | product_img_url: 'master' }}&description={{ product.title | escape }}" class="pin-it-button" target="_blank" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
    </li>
    {% endif %}
    {% if settings.s_s_fb %}
        <li class="socitem facebookcont">
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false"></div>
        </li>
    {% endif %}
</ul>
{% endif %}