{% comment %}
	Footer: Social Media Links
{% endcomment %}
{% assign social_names = 'fa-facebook,fa-twitter,fa-rss,fa-pinterest,fa-google,fa-instagram,fa-vimeo-square,fa-youtube,fa-flickr,fa-tumblr' | split: ',' %}
{% assign social_titles = 'Facebook,Twitter,RSS,Pinterest,Google+,Instagram,Vimeo,YouTube,Flickr,Tumblr' | split: ',' %}
<ul class="list-inline social-icons">
{% for social_name in social_names %}
{% assign en_key = 'soc_' | append: social_name | append: '_en' %}
    {% if settings[en_key] %}
    {% assign en_key = 'soc_' | append: social_name | append: '_url' %}
    <li class="">
        <a data-toggle="tooltip" data-placement="top" href="{{ settings[en_key] }}" target="_blank" title="{{ social_titles[forloop.index0] }}">
            <i class="fa {{social_name}}"></i>
        </a>
    </li>
    {% endif %}
{% endfor %}
</ul>
