{% comment %}
  Home Page: Store Message Row
{% endcomment %}
{% capture store_message_html %}
  <div id="store-message">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <a href="{{settings.sm_1_url}}">
            <i class="{{settings.sm_1_font_icon}}"></i>
            <h4 class="sm-h">{{settings.sm_1_line_1}}</h4>
            <span class="sm-text">{{settings.sm_1_line_2}}</span>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="{{settings.sm_2_url}}">
            <i class="{{settings.sm_2_font_icon}}"></i>
            <h4 class="sm-h">{{settings.sm_2_line_1}}</h4>
            <span class="sm-text">{{settings.sm_2_line_2}}</span>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="{{settings.sm_3_url}}">
            <i class="{{settings.sm_3_font_icon}}"></i>
            <h4 class="sm-h">{{settings.sm_3_line_1}}</h4>
            <span class="sm-text">{{settings.sm_3_line_2}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endcapture %}
{% if settings.display_sm %}
  {% if settings.s_msg_only_in_front_page  %}
    {% if template == "index" %}
      {{ store_message_html }}
    {% endif %}
  {% else %}
    {{ store_message_html }}
  {% endif %}
{% endif %}