{% comment %}
  Home Page: Testimonials Row
{% endcomment %}
<div class="testimonials text-center frontpage-row" data-stellar-background-ratio="2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-wrapper">
          <h3 class="h3"><span>{{settings.testimonials_title}}</span></h3>
          <div class="owl-carousel owl-testimonials">
            {% for i in (1..5) %}

              {% assign testimonial_show = 'testimonial_' | append: i | append: '_show' %}
              {% assign testimonial_text = 'testimonial_' | append: i | append: '_text' %}
              {% assign testimonial_name = 'testimonial_' | append: i | append: '_name' %}
              {% assign testimonial_company = 'testimonial_' | append: i | append: '_company' %}
              {% assign testimonial_photo = 'testimonial_' | append: i | append: '_img.jpg' %}
              
              {% if settings[testimonial_show] %}
                <div class="tesimonial_wrapper item">
                  <p class="testimonial_text">{{settings[testimonial_text]}}</p>
                  <div class="media">
                    <img class="img-circle" src="{{testimonial_photo | asset_url}}" alt="{{settings[testimonial_name]}}">
                    <div class="pull-left text-left">
                      <span class="testimonial_name mb0">{{settings[testimonial_name]}}</span>
                      <span class="testimonial_company">{{settings[testimonial_company]}}</span>
                    </div>
                  </div>
                </div>
              {% endif %}

            {% endfor %}
          </div>
        </div>
        <div class="slider-control">
          <button class="next btn btn-lg"><i class="fa fa-angle-right"></i></button>
          <button class="prev btn btn-lg"><i class="fa fa-angle-left"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>