{% comment %}
  Global: Top navigation
{% endcomment %}
{% if settings.show_multiple_currencies or shop.customer_accounts_enabled or settings[footer_link] != blank %}
<div id="top-nav">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-inline pull-left">
        {% comment %}
          If customer accounts are enabled, provide login and create account links
        {% endcomment %}
        {% if settings.show_multiple_currencies %}
        <li class="dropdown">
          {% include 'currencies-switcher' %}
        </li>
        {% endif %}
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              Logged in as <a href="/account">{{ customer.first_name }}</a>  
            </li>
            <li>
              {{ 'Log out' | customer_logout_link }}
            </li>
          {% else %}
            <li>
              {{ 'Log in' | customer_login_link }}  
            </li>
            <li>
              {% if shop.customer_accounts_optional %}
                {{ 'Create an account' | customer_register_link }}
              {% endif %}  
            </li>
          {% endif %}
        {% endif %}
        <li class="visible-xs-inline-block"><a href="/cart"><i class="fa fa-shopping-cart "></i> My cart</a></li>
      </ul>
      </div>
      
      {% if settings.topnav_linklist_1 != blank %}
        <div class="col-sm-8 col-xs-12">
          <ul class="list-inline pull-right">
            {% for link in linklists[settings.topnav_linklist_1].links %}
              <li><a title="{{link.title}}" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}