<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>


  <!-- Basic page needs -->
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ['{{settings.font_family_sans_serif}}', '{{settings.navbar_font_family}}', '{{settings.headings_font_family}}']
      }
    });
    var Venas = { 
      money_format: {{ shop.money_format | json }},
      cart_empty: '{{settings.cart_empty}}'
    };
  </script>
  {{ 'webpulse_script.js' | asset_url | script_tag }}

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="128x128" href="{{'mobile-icon.png' | asset_url}}">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{{'mobile-icon.png' | asset_url}}">
  <link rel="icon" sizes="128x128" href="{{'mobile-icon.png' | asset_url}}">
  <link rel="icon" href="{{'favicon.png'|asset_url}}">

  
  <!-- Title and description -->
  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}


  <!-- Product meta -->
  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}


  <!-- Helpers -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  

  <!-- CSS -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  {{ 'jetmenu.scss.css' | asset_url | stylesheet_tag }}
  {{ 'flexslider.css' | asset_url | stylesheet_tag }}
  {{ 'bootstrap.scss.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  {{ 'owl.theme.css' | asset_url | stylesheet_tag }}
  {{ 'owl.transitions.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}  
  {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
  {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
  {{ 'slider_2.css' | asset_url | stylesheet_tag }}
  <style>{{settings.owner_custom_css}}</style>
  {% if settings.show_animation %}
  {{ 'animate.css' | asset_url | stylesheet_tag }}
  {% endif %}


  <!-- JavaScript Header -->
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}
  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  <!-- Header hook for plugins -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  		display: none !important;
	}  
    


.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}
  </style>
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}"  ng-app="AStClair">
  

  <!-- Page loader-->
  <div class="loading-wrapper">
    <div class="loader">PLEASE WAIT</div>
  </div>

  <div class="{% if settings.full_width_layout %}full-width{% else %}boxed{% endif %}">
    
    
    <!-- Top Pane/Top Nav Bar -->
    {% include 'top-nav' %}
    

    <!-- Header -->
    {% include 'header' %}
    

    <!-- Main Navigation  -->
    {% include 'site-nav' %}


    {{ content_for_layout }}


    <!-- Three Store Messages -->
    {% include 'store-message' %}  
    
    <!-- Website Footer -->
    {% include 'footer' %}


  </div>
  

  <!-- Product Quick View Modeal -->
  {% include 'product-quick-view' %}
  {% include 'quick-view-modal' %}


  <!-- Newsletter Modal -->
  {% if settings.display_newsletter_signup %}
    {% include 'newsletter-modal' %}
  {% endif %}


  <!-- JavaScript Footer -->
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {% if settings.show_animation %}
  {{ 'wow.min.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'jetmenu.js' | asset_url | script_tag }}
  {{ 'bootstrap.js' | asset_url | script_tag }}
  {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}
  {{ 'jquery.tmpl.min.js' | asset_url | script_tag }}
  {{ 'jquery.cookies.js' | asset_url | script_tag }}
  {{ 'imagesloaded.pkgd.min.js' | asset_url | script_tag }}
  {% comment %}notifiation libraray(for more detais: https://github.com/jpillora/notifyjs){% endcomment %}
  {{ 'notify.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajaxify.js' | asset_url | script_tag }}  
  {% if settings.show_multiple_currencies %}
  {{ 'jquery.currencies.min.js' | asset_url | script_tag }}
  {% endif %}
  {% if settings.enable_product_zoom %}
  {{ 'jquery.elevateZoom-3.0.8.min.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}

  {% endif %}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}  
  {{ 'jquery.cart.min.js' | asset_url | script_tag }}
  {% if settings.enable_infinite_scroll %}
  {{ 'jquery.infinitescroll.min.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'angular.js' | asset_url | script_tag }}
  {{ 'angular-animate.js' | asset_url | script_tag }}
  
  {{ 'astclairapp.js' | asset_url | script_tag }}


  {% if settings.show_multiple_currencies %}
  {% include 'currencies' %}
  {% endif %}

	{{ 'slider_2.js'  | asset_url | script_tag }}
  <!-- Google analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57000797-2', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- end Google analytics -->


</body>
</html>
