/*=================================================
    
    This file contains the default styling of the Venas Thene.
    If you want to add your custom css, go to Theme Settings Page > Advanced Web Settings > CSS.

    This files contents are outlined below.

    01. TOP PANEL
    02. SITE HEADER
    03. MAIN NAVIGATION
    04. HOME PAGE SLIDE SHOW
    05. FEATURED LINKS
    07. FRONT PAGE COLLECTIONS
    08. HOME PAGE BLOG
    09. BRANDS
    10. CART PAGE
    11. PRODUCT PAGE
    12. PRODUCT THUMB
    13. COLLECTION PAGE
    14. CONTACT US PAGE TEMPLATE
    15. SEARCH TEMPLATE
    16. PAGE TEMPLATE
    17. BLOG PAGE
    18. GLOBAL STYLES
    19. FOOTER

===================================================*/


/* TOP PANEL
===================================================*/
#top-nav {
  background-color: #ffffff;
  color: #666666;
  padding: 5px 0;
  .list-inline li > a {
    color: #666666;
    display: inline-block;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    &:hover {
      text-decoration: none;
      color: #424242;
    }
  }
  #currencies {
    color: #666666; 
    background-color: transparent;
    option {
      color: #000000;
    }
  }
  .list-inline {
    margin-bottom: 0;
    li {
      vertical-align: middle;
      &:after {
        content: "|";
        margin-left: 15px;
        color: #DDDDDD;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .list-inline.pull-left {
    padding-left: 15px;
  }
  .visible-xs-inline-block {
    display: none;
  }
}
@media(max-width: 768px) {
  #top-nav {
    .visible-xs-inline-block {
      display: inline-block;
    } 
    .list-inline {
      float: none !important;
      text-align: center;
    } 
  }
}
#currencies {
  padding: 3px 16px 3px 3px;
  border: 0;
  border-radius: 0;
}


/* SITE HEADER
===================================================*/
.site-header {
  .no-img {
    a {
      line-height: 130px;
      text-transform: uppercase;
      font-size: 50px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .header-logo {
    text-align: center;
    width: 100%;
    h1 {
      margin: 0;
      padding: 0;
      font-size: 50px;
      font-weight: bold;
    }
    a {
      display: inline-block;
      img {
        max-width: 100%;
      }
      &:hover {
        color: inherit;
      }
    }
  }
  .list-inline.pull-right {
    margin-top: 0px;
    width: 100%;
    text-align: center;
  }
  .vm {
    height: 130px;
    .fa-shopping-cart {
      left: -9px;
      top: 20px;
      position: absolute;
    }
    h5 {
      margin: 0 0;
    }
  }
  .h-contact {
    position: relative;
    padding-left: 35px;
    .fa-phone {
      font-size: 30px;
      left: 0;
      top: 3px;
      position: absolute;
    }
  }
}
@media (min-width: 768px) {
  .site-header { 
    .list-inline.pull-right {
      margin-top: 42px;
      width: auto;
    }
  }
}


/*  IGATION
===================================================*/
#main-navigation {
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17);
  a {
    text-transform: uppercase;
  }
}
.ie9 #main-navigation {
  position: inherit;
}
.searchbox{
  position: relative;
  min-width: 50px;
  width: 0%;
  height: 50px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  background: #ffffff;
}
@media (min-width: 768px) { 
  .searchbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

}
@media(max-width: 678px) {
  #main-navigation .container {
    padding: 0 0 0 0;
  }
}
.searchbox-input{
  top:0;
  right:0;
  border:0;
  outline:0;
  background: transparent;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0px 55px 0px 20px;
  font-size: 16px;
}
.searchbox-icon,
.searchbox-submit{
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background: transparent;
}
.searchbox-open{
    width:100%;
}


/* HOME PAGE SLIDE SHOW
===================================================*/
.frontpage-row {
  margin: 50px 0;
}
.homepage-slideshow {
  .slider-loader {
    text-align: center;
    z-index: 999;
    width: 100%;
    height: 300px;
    line-height: 300px;
  }
  .flex-direction-nav {
    a {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      color: #FFFFFF;
      background-color: rgba(0, 0, 0, 0.55);
    }
  }
}
.testimonials {
  
  background-size: cover;
  background-color: #bdbdbd;
  .h3 {
    border-bottom-color: transparent;
    color: #ffffff;
  }
  .tesimonial_wrapper {
    margin: 0 auto;
  }
  .testimonial_text {
    font-style: italic;
  }
  .text-wrapper {
    padding: 40px 50px;
    h1, p, .testimonial_name {
      color: #ffffff;
    }
    .testimonial_name {
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 10px;
      display: block;
    }
  }
  .media {
    text-align: center;
    display: inline-block;
    img {
      margin-right: 10px;
      float: left;
      height: 60px;
      border: 3px solid #FFFFFF;
    }
  }
  .btn {
    border-color: #ffffff;
    background-color: transparent;
    color: #FFFFFF;
  }
  .testimonial_company {
    color: #424242;
  }
}
.slideshow {
  .text {
    padding: 10px;
    .btn {
      background-color: transparent;
      border: 2px solid;
      margin-top: 10px;
      display: none;
    }
    p {
      -webkit-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      -ms-animation-delay: 0.3s;
      -o-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    .btn, hr {
      -webkit-animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
      -ms-animation-delay: 0.6s;
      -o-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
    h1, .scaled-h-text {
      font-size: 18px;
      font-weight: bold;
      margin: 0 0;
    }
    p, .scaled-text {
      font-size: 15px;
      font-weight: bold;
      margin: 10px 0;
    }
    hr {
      margin: 5px 0;
      width: 200px;
      max-width: 100%;
      display: inline-block;
      clear: both;
    }
  }
  .slide_1 {
    hr {
      border-top-color: #6e6e6e;
    }
    .text {
      h1 {
        color: #6e6e6e;    
      }
      .btn, p {
        color: #6e6e6e;      
      }
    }
    .btn:hover {
      background-color: #6e6e6e;
      border-color: #6e6e6e;
      color: invert(#6e6e6e);
    }
  }
  .slide_2 {
    hr {
      border-top-color: #ffffff;
    }
    .text {
      h1 {
        color: #ffffff;    
      }
      .btn, p {
        color: #ffffff;      
      }

    }
    .btn:hover {
      background-color: #ffffff;
      border-color: #ffffff;
      color: invert(#ffffff);
    }
  }
  .slide_3 {
    hr {
      border-top-color: #6e6e6e;
    }
    .text {
      h1 {
        color: #6e6e6e;    
      }
      .btn, p {
        color: #6e6e6e;      
      }
    }
    .btn:hover {
      background-color: #6e6e6e;
      border-color: #6e6e6e;
      color: invert(#6e6e6e);
    }
  }
  .slide_4 {
    hr {
      border-top-color: #ffffff;
    }
    .text {
      h1 {
        color: #ffffff;    
      }
      .btn, p {
        color: #000000;  
      }
    }
    .btn:hover {
      background-color: #ffffff;
      border-color: #ffffff;
      color: invert(#ffffff);
    }
  }
  .slide_5 {
    hr {
      border-top-color: #000000;
    }
    .text {
      h1 {
        color: #000000;    
      }
      .btn, p {
        color: #000000;      
      }
    }
    .btn:hover {
      background-color: #000000;
      border-color: #000000;
      color: invert(#000000);
    }
  }
  .flex-control-nav {
    bottom: 10px;
    z-index: 99;
    .flex-next,
    .flex-prev {
      text-align: center;
      height: auto;
      font-size: 50px;
      color: #FFFFFF;
      background-color: rgba(0, 0, 0, 0.61);
      border-radius: 500px;
      text-align: center ;
    }
  }
}
@media (min-width: 768px) { 
  .testimonials {
    .tesimonial_wrapper {
      width: 80%;
    }
  }
  .slideshow {
    .text {
      padding: 10px;
      .btn {
        display: inline-block;
      }
      h1, .scaled-h-text {
        font-size: 50px;
        margin: 10px 0;
      }
      p, .scaled-text {
        font-size: 25px;
        margin: 10px 0;
      }
      hr {
        margin: 20px 0;
      }
    }
  }
}


/* FEATURED LINKS
===================================================*/
@media (min-width: 768px) {
  .featured-link {
    margin: 15px 0;
    img{
      max-width: 100%;
      margin: 0 0;
    }

  } 
}
.featured-link {
  img {
    width: 100%;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
  }
  figure {
    position: relative;
    margin: 15px 0;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.2);  
        -webkit-transform: scale(1.2);  
        -moz-transform: scale(1.2);  
        -ms-transform: scale(1.2);  
      }
    }
  }
  a {
    color: inherit;
  }
  figcaption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .vm {
      position: absolute;
      height: 100%;
      padding: 20px;
      width: 100%;
      
    }
    h3 {
      font-weight: bold;
      font-size: 24px;
      margin-top: 0;
    }
    .link {
      font-size: 0.8em;
    }
  }
  .fl_1 .vm-inner {
    vertical-align: middle;
  }
  .fl_2 .vm-inner {
    vertical-align: top;
  }
  .fl_3 .vm-inner {
    vertical-align: top;
  }
  .fl_1 h3,
  .fl_1 p {
    color: #ffffff;
  }
  .fl_2 h3,
  .fl_2 p {
    color: #3d3d3d;
  }
  .fl_3 h3,
  .fl_3 p {
    color: #ffffff;
  }

  .fl_2_1 h3 {
    font-size: 35px;
  }
  .fl_2_1 h3,
  .fl_2_1 p {
    color: #ffffff;
  }
  .fl_2_2 h3,
  .fl_2_2 p {
    color: #ffffff;
  }
}


@media (max-width: 768px) {
  .fl_2_1 {
    h3 {
      font-size: 20px;
    }
  }
}


/* FRONT PAGE COLLECTIONS
===================================================*/
#frontpage-collections,
#frontpage-collections-2,
.venas-tabs {
  .nav-tabs {
    a {
      padding-top: 0;
      padding-bottom: 0;
    }
    .h3 {
      margin: 0 0 0 0;
      color: #DDDDDD;
      transition: all 0.2s ease;
      span {
        border-bottom-color: transparent;  
      }
      &:hover {
        color: #555555;
      }
    }
    li {
      float: none;
      display: inline-block;
      vertical-align: top;
      &:after {
        content: " ";
        background-color: #DDDDDD;
        font-weight: bold;
        width: 1px;
        vertical-align: top;
        height: 17px;
        display: inline-block;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:first-child {
        a {
          padding-left: 0;
        }
      }
      a {
        border: none;
        display: inline-block;
        &:hover {
          border: none;
        }
      }
    }
    li.active {
      a {
        background-color: transparent;
        border: none;
      }
      h3 {
        color: #555555;
        &:after {
          border-top: 4px solid;
        }
        span {
          
        }
      }
    }
  }
}
.venas-tabs {
  .tab-pane {
    margin-top: 20px;
  }
}
.single-collection {
  .h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.fpcontroller {
  position: absolute;
  right: 15px;
  top: 0px;
  button.btn {
    width: 20px;
  }
}

#frontpage-collections-xs {
  h3 {
    margin-bottom: 10px;
  }
}


/* HOME PAGE BLOG
===================================================*/
.front-page-blog {
  .fpb-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
  }
  .fpb-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid #DDDDDD;
  }
  .col-sm-4:last-child {
    .fpb-wrapper {
      border: none;
    }
  }
  time {
    float: right;
    clear: both;
    color: #8C8C8C;
  }
  .author {
    color: #8C8C8C;
  }
  p {
    margin: 10px 0;
  }
  .h3 {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .front-page-blog {
    .blog-fimg {
      margin-bottom: 15px;
      display: block;
      margin: 0 auto;
      max-width: 100%;
      margin-right: 0;
      float: none;
    }
    .fpb-wrapper {
      padding: 0 0;
      border-bottom: none;
    }
  }
}


/* BRANDS
===================================================*/
.brands {
  img {
    display: block;
    margin: 10px auto;
    opacity: 0.4;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
      transition: all 0.3s ease;      
    }
  }
  h3 {
    margin-top: 0;
  }
}


/* CART PAGE
===================================================*/
.cart-table {
  margin-top: 20px;
  .txt-qty {
    width: 70px;
  }
  small {
    display: block;
  }
  .img-wrapper {
    width: 100px;
  }
  h5 {
    text-transform: uppercase;
    font-weight: bold;
  }
  .qty-wrapper,
  .remove-wrapper {
    width: 50px;
  }
  .price-wrapper {
    width: 100px;
  }
}
.template-cart {
  .totalwrapper {
    padding: 30px;
    border: 1px solid #DDDDDD;
    display: inline-block;
  }

  .cart-subtotal {
    margin-bottom: 15px;
  }  
  .media-body {
    text-transform: uppercase;
  }
  img {
    margin-right: 20px;
  }
}
#ajaxifyCart {
  .cart-row {
    img {
      max-width: 100px;
    }
  }
}
#shipping-calculator .field {
  float: left;
  margin: 0 0.6em 1em 0;
  font-size: 15px
}  
#shipping-calculator .field label {
  display: block;
  margin: 0 0 .3em;
  font-size: 1em;
}
#shipping-calculator .field input[type=text] {
  display: inline-block;
  width: 150px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-appearance: none;
}  
#shipping-calculator .field:last-child:before { 
  content: "\00A0"; display: block; margin: 0 0 .3em; font-size: 1em; 
}
#shipping-calculator #wrapper-response {
  clear: both;
}
@media (max-width: 800px) {
  #shipping-calculator .field {
    float: none;
  }
  #shipping-calculator .field:last-child:before { 
    content: none;
  }
}


/* PRODUCT PAGE
===================================================*/
#productSelect {
  display: none;
}
.product-variants {
  display: none;

  .no-js & {
    display: block;
  }
}
.social-sharing {
  li {
    vertical-align: top;
  }
}
.product-photo-container,
.product-photo-thumbs {
  a, img {
    display: block;
    margin: 0 auto;
  }
}
.owl-pthumb-imgs {
  margin-left: -5px;
  margin-right: -5px;
  img {
    padding: 5px;
  }
}
#productPhotoImg {
  max-width: 100%;
}
.product-description {
  .nav-tabs {
    margin-left: 0;
  }  
}
.template-product {
  #addToCartForm {
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
    .selector-wrapper,
    .qty-wrapper {
      margin-bottom: 20px;
      padding: 0 10px;
      width: 50%;
      display: inline-block;
    }
    #comparePrice {
      margin-bottom: 20px;
    }
    #addToCart {
      padding-left: 10px;
    }
    hr {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .single-collection {
    margin-top: 35px;
  }
  .quick-view {
    img {
      max-width: 100%;
    }
  }
  iframe {
    max-width: 100%;
  }
  .product-price {
    font-weight: bold;
  }
}
.product-description-modal {
  text-align: left;
  .nav-tabs {
    margin-left: 0;

  }  
  .tab-content {
    h1 {
      display: none;

    }
  }
}
.modal-quick-view {
  img {
    max-width: 100%;
  }
  .modal-dialog {
    width: 800px;
    max-width: 100%;
  }
  form {
    padding: 20px;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
  }
  .qv-ptitle {
    text-transform: uppercase;
    margin-top: 0;
    font-weight: bold;
  }
  .price-wrapper {
    .product-price {
      font-weight: bold;
      display: inline-block;
      font-size: 20px;
    }
    .discount-from {
      font-size: 16px;
    }
  }
}
#quick-view-modal {
  .loading {
    opacity: 0.1;
  }
  .selector-wrapper {
    margin-bottom: 14px;
    padding: 0 10px;
    width: 49%;
    display: inline-block;
  }
  #product-variants {
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .thumb {
    li {
      margin: 8px 4px 4px 4px;
      padding: 0 0 0 0;
    }
    img {
      max-width: 79px;
      
      max-width: 100%;
      padding: 5px;
    }
  }
  #qv-main-img {
    
  }
}
#productPhoto {
  position: relative;
  a {
    
    img {
      max-width: 100%;
    }
  }
  .product-zoom-msg {
    position: absolute;
    bottom: 0;
    left: 15px;
  }
  div {
    top: 0;
  }
}
.template-product {
  .product-title {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
  }  
}
.product-photo-thumbs {
  .prev,
  .next {
    position: absolute;
    top: 50%;
    width: 20px;
    z-index: 999;
  }
  .prev {
    left: 6px;
  }
  .next {
    right: 15px;
  }
  a {
    
    margin-top: 20px;
  }
}
del.product-compare-price {
  color: #D5D5D5;
}
.related-products {
  .fpcontroller {
    top: 0;
  }
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.add_confirm.white-popup {
  padding: 0px;
  img {
    max-width: 100px;
  }
}


/* PRODUCT THUMB
===================================================*/
.owl-item.loading .img-wrapper {
  background: url(//cdn.shopify.com/s/files/1/0928/7658/t/2/assets/loader.gif?8501663732624451056) no-repeat center center;  
  
}
.spr-icon-star-empty {
  color: #B0B0B0;
}
.spr-icon-star {
  color: #ffc445;
}
.products-wrapper-list {
  margin-top: 20px;
  .product-list {
    hr {
      margin: 20px 0;
    } 
    &:last-child {
      hr {
        display: none;
      }
    } 
    .spr-badge {
      text-align: right;
    }
    .pl-title {
      margin-top: 0;
    }
    .short-desc {
      margin-top: 5px;
    }
  }
}
.product-grid-image {
  display: block;
  margin: 0 auto;
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
.product-thumb {
  margin: 20px 0;
  .spr-badge-caption {
    display: none;
  }
}
.product-list,
.product-thumb {
  position: relative;
  max-width: 100%;
  
  .pt-title,
  .pl-title {
    margin-top: 8px; 
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
  }
  .price-wrapper {
    margin: 6px 0;
    color: #424242;
    display: block;
    font-weight: bold;
    font-size: 15px;
  }
  .hover-img {
    display: none;
  }
  .tbl-btn-group {
    
    width: 100%;
    
    border-collapse: collapse;
    .add-to-cart-wrapper {
      a {
        margin-right: 5px;
      }
    }
    td {
      margin: 0;
      padding: 0;
    }
    a {
      display: block;
    }
    .quick-view-wrapper {
      width: 35px;
    }
    .tooltip {
      width: 94px;
    }
  }
}
.product-thumb-xs {
  display: inline-block;
  margin: 10px 0;
  .pt-title {
    margin-top: 0;
  }
  .info-wrapper {
    max-width: 60%;
  }
  .img-wrapper {
    max-width: 40%;
    a {
      margin-right: 10px;
    }
  }
  .onsale-wrapper {
    span {
      font-size: 9px;
      border-width: 1px;
    }
  }
  .add-to-cart-thumb {
    clear: both;
  }
}
.price-wrapper {
  .discount-from {
    text-decoration: line-through;
    color: #DDDDDD;
    font-size: 13px;
  }
}
.collectopn-grid-item {
  img {
    max-width: 100%;
  }
}
.onsale-wrapper {
  position: absolute;
  left: 10px;
  top: 10px;
  span {
    display: inline-block;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #6A6A6A;
    padding: 3px 5px;
    border-radius: 3px;
  }
}
.price-wrapper {
  margin-top: 0;
}
.tab {
  display: none;
}
.quick-view-btn {
  display: none;
}
.dummy-review .fa-star{
  color: #ffc445;
}
@media(min-width: 768px) { 
  .quick-view-btn {
    display: inline-block;
  }
  .owl-item.loading .img-wrapper {
    min-height: 250px;
  }
}


/* COLLECTION PAGE
===================================================*/
.template-list-collections {
  .section-header {
    position: relative;
    a {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.template-collection {
  .collection-banner {
    height: 200px;
    width: 100%;
    margin: 10px 0;
    background-image: url(http://cdn.shopify.com/s/files/1/0590/0873/t/2/assets/slide_1.jpg?25541);
  }
  .cl-img {
    margin-bottom: 35px;
  }
  .pagination {
    margin-bottom: 0;
  }
  .page-header {
    margin-top: 0;
  }
  .ctrl-wrapper {
    .pagination {
      margin-top: 0;
    }
  }
  .filder-controls {
    .sorting-filter {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;
      select {
        display: inline-block;
        width: auto;
        margin-left: 10px;
        height: auto;
        padding: 2px 5px;
      }
    }
  }
}
.collection-view {
  display: inline-block;
  width: auto;
  padding: 3px 7px;
  margin-left: 10px;
  height: auto;
  a {
    display: block;
    float: left;
    opacity: 0.7;
    cursor: pointer;
    color: #BEBBBB;
    &.collection-view--active {
      opacity: 1;
      color: #424242;  
      cursor: default;
    }
  }
}
.product-list-image {
  display: block;
  img {
    max-width: 100%;
  }
}
.active-filter {
  font-weight: bold;
}
#infscr-loading {
  display: block;
  text-align: center;
  clear: both;
  padding: 32px 0 0 0;
  h3 {
    font-weight: bold;
    margin-bottom: 50px;
  }
}
.plist-img-wrapper {
  position: relative;
  a {
    display: block;
    img {
      width: 100%;
    }
  }
}


/* CONTACT US PAGE TEMPLATE
===================================================*/
#map-canvas {
  width: 100%;
  height: 400px;
  background-color: #CCC;
  margin-bottom: 20px;
}
#map-canvas img {
  width: auto;
  max-width: none;
}

/* SEARCH TEMPLATE
===================================================*/
.template-search {
  .search-result {
    .media-heading {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .media{
      img {
        margin-right: 20px;
      }
    }
    hr {
      margin: 20px 0;
    }
    .st-price {
      margin-bottom: 20px;
      span {
        font-weight: bold;
        font-size: 15px;
        color: #424242;
      }
      del {
        color: #DDDDDD;
      }
    }
  }
  .ts-header {
    color: #9B9B9B;
    margin: 50px 0;
    strong {
      color: #3F3F3F;
    }
  }
}


/* PAGE TEMPLATE
===================================================*/
.template-page {
  .page-header {
    margin-top: 0;
  }
}


/* BLOG PAGE
===================================================*/
.template-blog {
  .blog-wrapper {
    h3 {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .blog-index {
    hr {
      margin: 25px 0;
    }
  }
  .pagination {
    margin-top: 0;
  }
}
.blog-featured-img {
  margin-bottom: 15px;
}
.meta-information {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 0;
  margin: 15px 0;
  color: #8C8C8C;
  a {
    color: #8C8C8C;
    &:hover {
      text-decoration: none;  
    }
  }
}
.template-article {
  .page-header,
  .pagination {
    margin-top: 0;
  }
}
#comments {
  li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
    &:last-child {
      border-bottom: none;
    }
  }
}


/* GLOBAL STYLES
===================================================*/
.nav-tabs {
  
  border-bottom: 0;
  
}
.header-center .nav-tabs {
  text-align: center;
}
.header-center .single-collection .h3,
.header-center.brands .h3 {
  text-align: center;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

.vm {
  display: table;
  .vm-inner {
    display: table-cell;
    vertical-align: middle;
  }
}
span.required {
  color: rgb(237, 14, 14);
}
blockquote {
  border-left: 5px solid #424242;
  background-color: #FAFAFA;
  p {
    font-size: 1em;
  }
}
.page-header {
  border-bottom: none;
  h1 {
    margin-bottom: 0;
  }
}
.section-header {
  margin-bottom: 20px;
}
.owl-venas-theme {
  .owl-controls { 
    .owl-buttons  {
      .owl-next {
        right: -5px;
      }
      .owl-prev {
        left: -5px;
      }
      div {
        padding: 0;
        margin: -10px 0 0 0;
        position: absolute;
        top: 50%;
        i {
          width: 20px;
        }
      }
    }
  }  
}
#newsletter-modal {
  .modal-dialog {
    width: 725px;
    max-width: 100%;
  }
  .newsletter-popup {
    padding: 15px;
  } 
  .btn {
    font-weight: bold;
  }
  .form-control {
    background-color: #DDDDDD;
    border-color: #DDDDDD;
    margin-top: 20px;
  }
  button.close {
    text-shadow: none;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #676767;
  } 
}
@media(min-width: 768px) {
  #newsletter-modal { 
    .modal-dialog {
      form {
        
      }
    }
    .newsletter-popup {
      padding: 15px 50px;
    }
  }
}
.incrementer {
  span {
    margin: 5px 10px; 
  }
}
.modal-content {
  border-radius: 5px;
  overflow: hidden;
}
.table-bordered > thead > tr > th {
  border-bottom-width: 1px;
}
.table.cart-table > thead > tr > th, 
.table.cart-table > tbody > tr > td {
  padding: 15px;
}
.table.cart-table > thead > tr > th {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}
.table.cart-table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}
.table.cart-table a {
  font-size: 1.1em;
}
.table.cart-table .fa-trash {
  font-size: 18px;
}
.page-header {
  h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
  }
}
.pagination {
  margin: 20px 0;
  > li {
    > a,
    > span {
      margin-right: 10px;
      padding: 2px 8px;
    }
  }
}
.dib {
  display: inline-block;
}
.btn {
  a {
    text-decoration: none;
    color: inherit;
  }
}
.btn-link {
  &:hover {
    text-decoration: none;
  }
}
.selector-wrapper select {
  background-image: url(//cdn.shopify.com/s/files/1/0928/7658/t/2/assets/ico-select.svg?8501663732624451056);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  background-image: url(//cdn.shopify.com/s/files/1/0928/7658/t/2/assets/ico-select.svg?8501663732624451056);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: transparent;
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
}
label {
  font-weight: normal;
}
.pc { 
  color: #424242; 
}
.dib {
  display: inline-block;
}
.breadcrumb { 
  border-bottom: 1px solid #ffffff;
  margin-bottom: 35px;
  padding: 15px 0;
  a {
    margin-right: 10px;
    &:first-child {
      padding-left: 0;
    }
  }
  .active-page {
    color: #424242;
    margin-left: 10px;
  }
  div {
    display: inline-block;
  }
}
.slider-control {
  .next,
  .prev {
    position: absolute;
    top: 50%;
    margin-top: -10px;
  }
  .next {
    right: 0;
  }
  .prev {
    left: 0;
  }
}
.notifyjs-bootstrap-success {
  border-radius: 0 ;
  box-shadow: 0 0 4px #DDDDDD;
  background-color: #FFFFFF;
}
.btn {
  font-size: 13px;
}
.btn-default {
  transition: all 0.2s ease;
  &:hover {
    background-color: #424242;
    border-color: #424242;
    color: #FFFFFF;
  }
}
.btn-primary {
  transition: all 0.2s ease;
  background-color: #424242;
  border-color: #424242;
  color: #FFFFFF;
  &:hover {
    background-color: #FFFFFF;
  }
}
.btn-primary.disabled {
  color: #DDDDDD;
  &:hover {
    color: #DDDDDD;
  }
}
.btn-default.disabled {
  &:hover {
    background-color: #424242;
  }
}

.wow {
  visibility: hidden;
}

.ie9 .wow {
  visibility: visible;
}
.ie9 .quick-view-btn {
  display: none;
}
.full-width {
  background-color: #FFFFFF;
}
.no-selection {
  padding: 50px;
  border: 2px dashed #F0F0F0;
  margin: 20px 0;
  font-size: 1.1em;
}
img {
  max-width: 100%;
}
.p20 {
  padding: 20px;
}
.m0 {
  margin: 0 0 0 0;
}
.mt0 {
  margin-top: 0;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mb0 {
  margin-bottom: 0;
}
.mr0 {
  margin-right: 0;
}
.ml0 {
  margin-left: 0;
}
.ml10 {
  margin-left: 10px;
}
.mr5 {
  margin-right: 5px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mr20 {
  margin-right: 20px;
}
.ml20 {
  margin-left: 20px;
}
.minicart-wrapper {
  padding: 20px 20px 20px 35px;
  position: relative;
  float: right;
  .minicart {
    position: absolute;
    display: none;
    right: 0;
    padding: 20px;
    box-shadow: -1px 2px 5px #bbb;
    width: 250px;
    background: #FFFFFF;
    z-index: 99;
    margin-top: 10px;
    color: #666666;
    .media {
      position: relative;
      padding-right: 15px;
      a {
        padding: 0;
      }
    }
    a.remove-product {
      cursor: pointer;
      color: rgb(161, 161, 161);
      padding: 10px;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      height: 14px;
      width: 14px;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -mos-transition: all 0.2s ease;
      &:hover {
        color: #424242;
      }
    }
  }
  .minicart.active {
    display: block;
  }
  #cartCost {
    font-weight: bold;
  }
  .fa-shopping-cart {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    margin-right: 5px;
    background-color: #f5f5f5;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
.sidebar {
  .h3 {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0;
    &:after {
      left: 0;
      margin-left: 0;
      width: 30px;
    }
  }
  .btn {
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  .area {
    margin-bottom: 35px;
    display: inline-block;
    width: 100%;
  }
  .aside-list  {
    li {
      padding: 10px 0;
      border-bottom: 1px solid #ffffff;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
@media (min-width: 768px) {
  
  .breadcrumb {
    a {
      &:first-child {
        padding-left: 15px;
      }
    }
  }  
  // Product view break point
  
  .full-width {
    .affix {
      width: 100%;
    }
  }
  .affix {
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all 0.6s ease;
  }
  
  .affix-top {
    position: initial;
    top: -50px;
  }

  .row-3-product .col-sm-4:nth-child(3n+1) {
    clear: both;
  }

  .row-2-product .col-sm-6:nth-child(2n+1) {
    clear: both;
  } 

  .row-4-product .col-sm-3:nth-child(4n+1) {
    clear: both;
  }
}
.loading-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  z-index: 99999999;
  .loader {
    background-color: rgba(0,0,0,0.36);
    padding: 10px 20px;
    color: white;
    width: 150px;
    text-align: center;
    margin: auto;
  }
}
body.loading .loading-wrapper {
  display: block;
}
.h3 {
  text-transform: uppercase;
  padding: 0 0 13px 0;
  margin-bottom: 20px;
  
  font-weight: bold;
  span {
    padding: 0 0 10px;
    
  }
}
.h4 {
  text-transform: uppercase;
  padding: 0 0 13px 0;
  margin-bottom: 20px;
  
  font-weight: bold;
  span {
    padding: 0 0 10px;
    
  }
}
#store-message {
  margin: 30px 0;
  background-color: #ffffff;
  hr {
    margin-bottom: 25px;
  }
  .col-sm-4 {
    position: relative;
    i {
      position: absolute;
      top: 15px;
      left: 30px;
      font-size: 30px;
      color: #424242;
    }
  }
  a {
    display: block;
    padding: 15px 15px 15px 60px;
    border: 1px solid #dddddd;
    transition: all 0.2s ease;
    span {
      display: block;
    }
    .sm-h {
      font-weight: bold;
      text-transform: uppercase;
      font-weight: 1.4em;
      color: #000000;
      margin: 0 0 4px 0;
    }
    .sm-text {
      color: #8b8888;
    }
    &:hover {
      background-color: #424242;
      border-color: #424242;
      text-decoration: none;
      .fa, .sm-h, .sm-text {
        color: #FFFFFF;  
      }
    }
  }
}


/* FOOTER
===================================================*/
footer {
  background-color: #efefef;
  color: #666666;
  .footer-one {
    padding: 30px 10px;
    
    .f-menu {
      margin-bottom: 20px;
      margin-top: 25px;
      li {
        margin: 15px 0;
        border-bottom: 1px solid #353535;
        .fa {
          margin-right: 10px;
          font-size: 11px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .h4 {
    color: #dddddd;
    
    span {
      background-color: #efefef;
      
    }
  }
  a {
    color: #999999;
    &:hover {
      color: #ffffff;
    }
  }
  .newslatter-panel {
    form {
      position: relative;
      border: 3px solid #000;
      .form-control {
        background: #000;
        border: none;
        padding-right: 42px;
      }
      .btn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #3d3d3d;
        border-color: #3d3d3d;
        color: #FFFFFF;
      }
    }
  }
  .social-icons {
    padding: 0;
    transition: all 0.2s ease;
    margin: 40px 0 0 0;
    li {
      padding: 5px;
      a {
        color: #616161;
        font-size: 20px;
        border: 1px solid darken(#616161, 6);
        display: inline-block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        &:hover {
          background-color: #5e5e5e;
          border-color: #5e5e5e;
          color: #FFFFFF;
        }
      }
    }
  }
  .payment-icons {
    text-align: center;
    padding-left: 0;
  }
  .copyright-panel {
    list-style-type: none;
    padding: 30px 0;
    margin-top: 15px;
    background-color: #111111;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 3px;
      img {
        width: 46px;
      }
    }
    a {
      color: #bbbbbb;
    } 
    p {
      color: #bbbbbb;
    }
    
    hr {
      border-top: 1px solid lighten(#111111, 20%);
    }
  }
}
@media (min-width: 768px) {
  footer {
    .footer-one {
      padding: 30px 0;
    }
    .copyright-panel {
      text-align: left;
    } 
    .payment-icons {
      text-align: right;
    } 
  }
}
.contact-info {
  .fa {
    position: absolute;
    left: 0;
    font-size: 18px;
    color: #A8A8A8;
    top: 4px;
  }
  > div {
    position: relative;
    padding-left: 33px;
    margin-bottom: 10px;
    line-height: 24px;
  }
}
















