<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>404 Page Not Found</h1>
      </div>
    </div>
    <div class="col-sm-12">
      <p>The page you requested does not exist. Click <a href="/collections/all">here</a> to continue shopping.</p>
    </div>
  </div>
</div>

