{% comment %}1

  Comments will not appear right after they are submitted, either to be checked for spam
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that includes the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372

  More information:
    - http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %}

{% comment %}
  We're going to reference the number of comments below, so let's hold it in a variable.
{% endcomment %}
{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}
{% include 'breadcrumb' %}

<div class="container">
  <div class="row">

    <article class="{% if settings.display_sidebar %}col-sm-9{% else %}col-sm-12{% endif %}" itemscope itemtype="http://schema.org/Article">

      <header class="section-header">
        
        <div class="page-header">
          <h1>{{ article.title }}</h1>
        </div>
        <ul class="list-unstyled list-inline meta-information">
          <li><i class="fa fa-pencil-square-o"></i> {{ article.author }}</li>
          <li><i class="fa fa-pencil-square-o"></i> <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
              {{ article.published_at | date: '%b %d, %Y' }}
            </time>
          </li>
          <li>
            {% include 'tags-article' %}
          </li>
          {% if blog.comments_enabled? %}
            <li>
              <a href="{{ article.url }}#comments">
                <i class="fa fa-comments"></i>
                {{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}
              </a>
            </li>
            {% endif %}
         </ul>
        
      </header>

      <div class="rte" itemprop="articleBody">
        {{ article.content }}
      </div>

      {% comment %}
        Create links to the next and previous articles, if available.
      {% endcomment %}

      {% if blog.next_article or blog.previous_article %}
      <hr>

      {% comment %}
        If you only have elements floated in a container, you can use the
        .clearfix class to force the parent to maintain its structure.
      {% endcomment %}
      <ul class="pager">
        {% if blog.previous_article %}
        <li class="previous">
          {{ '&larr; Older Post' | link_to: blog.previous_article }}
        </li>
        {% endif %}
        {% if blog.next_article %}
        <li class="next">
          {{ 'Newer Post &rarr;' | link_to: blog.next_article }}
        </li>
        {% endif %}
      </ul>
      {% endif %}

      {% if blog.comments_enabled? %}

      <hr>

      {% comment %}
        Just like our blog.liquid page, define how many comments should be on each page.
      {% endcomment %}
        
        {% paginate article.comments by 10 %}

        {% comment %}
          #comments is required, it is used as an anchor link by Shopify.
        {% endcomment %}
        <div id="comments" class="mt20">

          {% if comment and comment.created_at %}
          <p class="note form-success">
            {% if blog.moderated? %}
              Your comment was posted successfully. We will publish it in a little while, as our blog is moderated.
            {% else %}
              Your comment was posted successfully! Thank you!
            {% endif %}
          </p>
          {% endif %}

          {% if number_of_comments > 0 %}
            <h3 class="h3"><span>Comments</span></h3>
            <ul class="list-unstyled">
              {% comment %}
                If a comment was just submitted with no blank field, show it.
              {% endcomment %}
              {% if comment and comment.created_at %}
              <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">

                {% include 'comment' %}

              </li>
              {% endif %}

              {% comment %}
                Showing the rest of the comments.
              {% endcomment %}
              {% for comment in article.comments %}
              <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">

                {% include 'comment' %}

              </li>
              {% endfor %}

            </ul>

            {% if paginate.pages > 1 %}
            <hr>
            <div class="text-right">
              {% include 'pagination-custom' %}
            </div>
            {% endif %}

            <hr>

          {% endif %}

          {% comment %}
            Comment submission form
          {% endcomment %}
          {% form 'new_comment', article %}
          <div class="row">
            {% comment %}
              #add-comment-title is used simply as an anchor link
            {% endcomment %}

            <div class="col-sm-12">
              <h3 class="h3" id="add-comment-title"><span>Leave a comment</span></h3>
              {% include 'form-errors-custom' %}
            </div>

            <div class="col-sm-6 form-group{% if form.errors contains "author" %} has-error{% endif %}">
              <label for="comment-author">Name</label>
              <input class="form-control" type="text" name="comment[author]" placeholder="Name" id="comment-author" value="{{ form.author }}" />
            </div>

            <div class="col-sm-6 form-group{% if form.errors contains "email" %} has-error{% endif %}">
              <label for="comment-email">Email</label>
              <input  class="form-control" type="email" name="comment[email]" placeholder="Email" id="comment-email" value="{{ form.email }}" />
            </div>

            <div class="col-sm-12 form-group{% if form.errors contains "body" %} has-error{% endif %}">
              <label for="comment-body">Message</label>
              <textarea rows="3" class="form-control" name="comment[body]" id="comment-body" placeholder="Message">{{ form.body }}</textarea>
            </div>
        
            {% if blog.moderated? %}
            <div class="col-sm-12">
              <p><em><strong>Please note:</strong> comments must be approved before they are published</em></p>
            </div>
            {% endif %}
            
            <div class="col-sm-12">
              <input type="submit" class="btn btn-default" value="Post Comment">
            </div>
            {% if form.errors %}
              <script>
                window.location.hash = '#add-comment-title';
              </script>
            {% endif %}

            {% if form.posted_successfully? %}
              <script>
                window.location.hash = '#comments';
              </script>
            {% endif %}
          </div>
          {% endform %}

        </div>

        {% endpaginate %}

      {% endif %}
    </article>
    {% if settings.display_sidebar %}
    <aside class="col-sm-3" role="complementary">
      {% include 'blog-sidebar' %}
    </aside>
    {% endif %}
    
  </div>
</div>
