{% comment %}

  Loop through a defined number of articles with the 'paginate' tag.
  Don't forget to close the tag after your loop.

{% endcomment %}
{% paginate blog.articles by {{settings.paginate_blog_by | default: 5}} %}

{% include 'breadcrumb' %}

{% comment %}
  This template is also used for listing out articles of a specific tag.
  You can change layouts or styles by checking if current_tags is true.
{% endcomment %}

<div class="container">
  <div class="row">
    <div class="blog-index{% if settings.display_sidebar %} col-sm-9{% else %} col-sm-12{% endif %}">

      {% comment %}
        Loop through each article in your blog. This is limited to what you set for pagination above.

        For more info on article liquid tags:
          - http://docs.shopify.com/themes/liquid-variables/article
      {% endcomment %}
      <div class="row">
      {% for article in blog.articles %}
      {% if article.content contains "<img" %}
      {% assign src = article.content | split: 'src="' %}
        {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn';; | replace: 'http:http://';;, 'http://';; | remove: 'https:' %}
      {% endif %}
        <div class="col-sm-12">
           <div class="blog-wrapper">
             {% if src != blank %} 
             <a href="{{ article.url }}" title="{{ article.title }}">
               <img class="blog-featured-img" src="{{src}}" alt="{{article.title}}" />
             </a>
             {% endif %}
              <div class="text-body">
                <h3 class="mt0"><a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a></h3>

                 <ul class="list-unstyled list-inline meta-information">
                  <li><i class="fa fa-pencil-square-o"></i> {{ article.author }}</li>
                  <li><i class="fa fa-calendar"></i> <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                      {{ article.published_at | date: '%b %d, %Y' }}
                    </time>
                  </li>
                  {% include 'tags-article' %}
                  {% if blog.comments_enabled? %}
                    <li>
                      <a href="{{ article.url }}#comments">
                        <i class="fa fa-comments"></i>
                        {{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}
                      </a>
                    </li>
                    {% endif %}
                 </ul>
                
                {% comment %}
                  Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
                  Since this is just a listing page, you can either use the excerpt or truncate the full article.
                {% endcomment %}
                <div class="rte">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    <p>{{ article.content | strip_html | truncatewords: 50 }}</p>
                  {% endif %}
                </div>

                <a href="{{ article.url }}" class="btn btn-default">Read more</a>

             </div>
           </div>
           <hr>
        </div>
      {% endfor %}
      </div>
      {% if paginate.pages > 1 %}
      <div class="text-right">
        {% include 'pagination-custom' %}
      </div>
      {% endif %}
    </div>
    {% if settings.display_sidebar %}
    <div class="col-sm-3">
      {% include 'blog-sidebar' %}
    </div>
    {% endif %}
  </div>
</div>

{% endpaginate %}
