{% include 'breadcrumb' %}
<div class="container">
  
  <div class="row">
    <div class="col-sm-12">
      {% if settings.show_multiple_currencies %}
        <mark class="mark">
          {{ shop.name }} process all orders in {{ shop.currency }}.
          While the content of your cart is currently displayed in
          <span class="selected-currency"></span>,
          you will checkout using {{ shop.currency }} at the most current exchange rate.
        </mark>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12"> 
      {% if cart.item_count > 0 %}
        <form action="/cart" method="post" novalidate>
         
          {% comment %}
            Loop through products in the cart
          {% endcomment %}

          <table class="table cart-table table-bordered">
            <thead>
              <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart.items %}
                <tr data-id="{{ item.id }}">
                    {% comment %}
                      Let's use a sub grids to keep our product image and title together,
                      and our quantity, price and remove buttons together
                    {% endcomment %}
                    <td class="img-wrapper">
                      <a href="{{ item.url | within: collections.all }}">
                        {% comment %}
                          More image size options at:
                            - http://docs.shopify.com/themes/filters/product-img-url
                        {% endcomment %}
                        <img src="{{ item | img_url: 'small' }}"  alt="{{ item.title | escape }}" />
                      </a>
                    </td>
                    <td>
                      {% comment %}
                        If you want the product title and any variants in one line, use {{ item.title }}.
                        Below they've been separated for styling purposes.
                      {% endcomment %}
                      <a href="{{ item.product.url }}">
                        {{ item.product.title }}
                      </a>
                      {% unless item.variant.title contains 'Default' %}
                         <small>{{ item.variant.title }}</small>
                      {% endunless %}

                      {% comment %}
                        Optional, loop through custom product line items if available

                        For more info on line item properties, visit:
                          - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                      {% endcomment %}
                      {% if item.properties.size > 0 %}
                      <p>
                        {% for p in item.properties %}
                          {% unless p.last == blank %}
                            {{ p.first }}:

                            {% comment %}
                              Check if there was an uploaded file associated
                            {% endcomment %}
                            {% if p.last contains '/uploads/' %}
                              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                            {% else %}
                              {{ p.last }}
                            {% endif %}

                            <br>
                          {% endunless %}
                        {% endfor %}
                      </p>
                      {% endif %}
                    </td>
                    <td class="unit-price">
                      {{ item.price | money }}
                    </td>
                    <td class="qty-wrapper">
                      <input class="form-control txt-qty" type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
                    </td>
                    <td class="price-wrapper">
                      {{ item.line_price | money }}
                    </td>
                    <td class="remove-wrapper">
                      {% comment %}
                        To remove an item from the cart, reload the page with the following parameters.
                        Added data-id for the ajax cart implementation only.
                      {% endcomment %}
                      <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-id="{{ item.id }}"><i class="fa fa-trash"></i></a>
                      
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>

          <div class="row">
            <div class="col-sm-6">
              <a href="/collections/all" class="btn btn-default btn-lg">Continue Shopping</a>
            </div>
            <div class="col-sm-6">
              <div class="pull-right">
                <a href="/cart/clear" class="btn btn-default btn-lg">Clear Shopping Cart</a>
                {% comment %}
                  name="update" is required for the update button to work
                {% endcomment %}
                <input type="submit" name="update" class="btn btn-default btn-lg update-cart" value="Update cart">
              </div>
            </div>
          </div>

          <div class="row mt20">
            {% comment %}
              Optional, add a textarea for special notes
                - Your theme settings can turn this on or off. Default is on.
                - Make sure you have name="note" for the message to be submitted properly
            {% endcomment %}
            {% if settings.cart_notes %}
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="cartSpecialInstructions">Special instructions for seller</label>
                  <textarea name="note" class="form-control" id="cartSpecialInstructions">{{ cart.note }}</textarea>
                </div>
              </div>
            {% endif %}
            {% comment %}
              If notes are used, adjust the column width
            {% endcomment %}
            
            <div class="{% if settings.cart_notes %}col-sm-6{% else %}col-sm-12{% endif %} text-right">
                <div class="totalwrapper">
                  <div class="cart-subtotal">
                    Cart Subtotal
                    <span class="h1 cart-subtotal--price">{{ cart.total_price | money }}</span>
                  </div>


                  

                  {% comment %}
                    name="checkout" is required for the submit button to work
                  {% endcomment %}
                  <input type="submit" name="checkout" class="btn btn-primary btn-lg" value="Check out">

                  {% comment %}
                    Paypal and Google checkout buttons
                  {% endcomment %}
                  {% if additional_checkout_buttons %}
                    <p>{{ content_for_additional_checkout_buttons }}</p>
                  {% endif %}
                </div>
            </div>
          </div>
          
          
        </form>
        {% comment %}
          Shipping calculator plugin
        {% endcomment %}
        <div class="row">
          <div class="col-sm-12">
            {% include 'shipping-calculator' %}
          </div>
        </div>

      {% else %}

        {% comment %}
          It's likely people won't have items in the cart sometimes.
          Do something fun here, it's a great chance to show your company's human side.
        {% endcomment %}

        <h2>{{settings.cart_empty}}</h2>
        <p>Continue browsing <a href="/collections/all">here</a>.</p>

      {% endif %}
    </div>
  </div>
</div>