{% comment %}
  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection
{% endcomment %}

{% if settings.show_product_type or settings.show_collection_vendor or settings.show_tags or settings.show_collections_list %}
  {% assign display_side_bar = true %}
{% endif %}

{% paginate collection.products by 12 %}

{% include 'breadcrumb' %}

<div class="container">
  <div class="row">
  
    {% assign righ_side_class = "col-sm-12" %}

    {% if display_side_bar %}
    <div class="col-sm-3">
      {% include 'collection-sidebar' %}
      {% assign righ_side_class = "col-sm-9" %}
     
    </div>
    {% endif %}

    <div class="{{righ_side_class}}">
      {% if collection.image %}
      <div class="cl-img">
        <img src="{{ collection.image | img_url: 'original' }}" alt="{{ collection.title }}">
      </div>
      {% else %}
      <div class="page-header">
        <h1>{{ collection.title }}</h1>
      </div>
      {% endif %}
      
      <div class="ctrl-wrapper">
        <div class="row">
          <div class="col-sm-6">
            <div class="filder-controls">
              {% include 'collection-sorting' %}
              {% include 'collection-views' %}
            </div>
          </div>
          <div class="col-sm-6">
            {% if paginate.pages > 1 %}
              <div class="pull-right">
                {% include 'pagination-custom' %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      
      
      
      <hr class="mb0">
      {% comment %}
        Use class grid-uniform to have evenly sized columns clear
        each other properly at each breakpoint.
      {% endcomment %}
      {% assign grid_item_width = 'col-sm-3 col-xs-6' %}
      <div class="row products-wrapper row-4-product">
 
        {% comment %}
          Loop through our products in the current collection.
          See the snippet 'product-grid-item' for the layout.
        {% endcomment %}
        {% for product in collection.products %}

          {% include 'product-grid-item' %}

        {% else %}

          <div class="col-sm-12">
            <div class="well">
              <h4 class="text-center">Sorry, there are no products matching your search.</h4>  
            </div>
          </div>

        {% endfor %}
      </div>
      <hr class="mb0 mt0">
      <div class="row">
        <div class="col-sm-6">
          <div class="filder-controls mt20">
            {% include 'collection-sorting' %}
            {% include 'collection-views' %}
          </div>
        </div>
        <div class="col-sm-6">
          {% if paginate.pages > 1 %}
            <div class="pull-right">
              {% include 'pagination-custom' %}
            </div>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>

{% endpaginate %}