{% comment %}
    This is the homepage of your site
    More info on global variables (available on all templates):
      - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% if settings.show_row_1 %}
  {% include settings.row_1_block %}
{% endif %}

{% if settings.show_row_2 %}
  {% include settings.row_2_block %}
{% endif %}

{% if settings.show_row_3 %}
  {% include settings.row_3_block %}
{% endif %}

{% if settings.show_row_4 %}
  {% include settings.row_4_block %}
{% endif %}

{% if settings.show_row_5 %}
  {% include settings.row_5_block %}
{% endif %}

{% if settings.show_row_6 %}
  {% include settings.row_6_block %}
{% endif %}

{% if settings.show_row_7 %}
  {% include settings.row_7_block %}
{% endif %}

{% if settings.show_row_8 %}
  {% include settings.row_8_block %}
{% endif %}

{% if settings.show_row_9 %}
  {% include settings.row_9_block %}
{% endif %}

