{% comment %}

  This page represents the /collections and /products pages.
  It is an optional, but highly recommended, template for your theme.

  More info:
    - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

{% endcomment %}

{% include 'breadcrumb' %}

{% comment %}
  Loop through each collection, except 'frontpage'
{% endcomment %}

<div class="container">
  {% for collection in collections %}
    {% unless collection.handle == 'frontpage' %}
      {% if collection.products.length > 0 %}
        {% include 'collection-list-item' %}  
      {% endif %}
    {% endunless %}
  {% endfor %}
</div>