{% include 'breadcrumb' %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="col-sm-12">
      {% comment %}
        Regular page content goes here.
      {% endcomment %}
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
