{% include 'breadcrumb' %}

<div class="container">
  <div class="row">
    
    <div class="col-sm-12">
      <ul class="cd-gallery ">
	    					<li>
	    						<a href="#">
	    							<ul class="cd-item-wrapper">
	    								<li class="selected">

	    									<img src="https://cdn.shopify.com/s/files/1/0928/7658/files/StClair_Product_189.png?6911794035746929865" class="img-responsive">
	    									<div class="itemInfo">
	    										<p>Sample item info 1</p>

	    										<button class="buyNowBtn">Buy Now</button>	
	    									</div>
	    									
	    								</li>
	    				 
	    								<li class="move-right hide-right"  data-sale="true" data-price="$22">
	    									<img src="https://cdn.shopify.com/s/files/1/0928/7658/files/StClair_Product_183.png?6911794035746929865" class="img-responsive">
	    									<div class="itemInfo myHider">
	    										<p>Sample item info 2 </p>

	    										<button class="buyNowBtn">Buy Now</button>	
	    									</div>
	    								</li>
	    				 
	    								<li class="move-right hide-right"> 
	    									<img src="https://cdn.shopify.com/s/files/1/0928/7658/files/StClair_Product_178.png?6911794035746929865" class="img-responsive">
	    									<div class="itemInfo myHider">
	    										<p>Sample item info 3</p>

	    										<button class="buyNowBtn">Buy Now</button>	
	    									</div>
	    								</li>
										<li class="move-right hide-right">

	    									<img src="https://cdn.shopify.com/s/files/1/0928/7658/files/StClair_Product_172.png?6911794035746929865" class="img-responsive">
	    									<div class="itemInfo">
	    										<p>Sample item info 4</p>

	    										<button class="buyNowBtn">Buy Now</button>	
	    									</div>
	    									
	    								</li>
	    				 
	    								<li class="move-right hide-right"  data-sale="true" data-price="$22">
	    									<img src="https://cdn.shopify.com/s/files/1/0928/7658/files/StClair_Product_163.png?6911794035746929865" class="img-responsive">
	    									<div class="itemInfo myHider">
	    										<p>Sample item info 5 </p>

	    										<button class="buyNowBtn">Buy Now</button>	
	    									</div>
	    								</li>
	    				 
	    								<li class="move-right hide-right">
	    									<img src="https://cdn.shopify.com/s/files/1/0928/7658/files/StClair_Product_40.png?6911794035746929865" class="img-responsive">
	    									<div class="itemInfo myHider">
	    										<p>Sample item info 6</p>

	    										<button class="buyNowBtn">Buy Now</button>	
	    									</div>
	    								</li> 
										<li class="move-right hide-right"  data-sale="true" data-price="$22">
	    									<img src="https://cdn.shopify.com/s/files/1/0928/7658/files/StClair_Product_34.png?6911794035746929865" class="img-responsive">
	    									<div class="itemInfo myHider">
	    										<p>Sample item info 7 </p>

	    										<button class="buyNowBtn">Buy Now</button>	
	    									</div>
	    								</li>
	    				 
	    								<li class="move-right hide-right">
	    									<img src="https://cdn.shopify.com/s/files/1/0928/7658/files/StClair_Product_28.png?6911794035746929865" class="img-responsive">
	    									<div class="itemInfo myHider">
	    										<p>Sample item info 8</p>

	    										<button class="buyNowBtn">Buy Now</button>	
	    									</div>
	    								</li>
										<li class="move-right hide-right">

	    									<img src="https://cdn.shopify.com/s/files/1/0928/7658/files/StClair_Product_19.png?6911794035746929865" class="img-responsive">
	    									<div class="itemInfo">
	    										<p>Sample item info 9</p>

	    										<button class="buyNowBtn">Buy Now</button>	
	    									</div>
	    									
	    								</li>
	    				 
	    								<li class="move-right hide-right"  data-sale="true" data-price="$22">
	    									<img src="https://cdn.shopify.com/s/files/1/0928/7658/files/StClair_Product_18.png?6911794035746929865" class="img-responsive">
	    									<div class="itemInfo myHider">
	    										<p>Sample item info 10 </p>

	    										<button class="buyNowBtn">Buy Now</button>	
	    									</div>
	    								</li>
	    				 
	    								<li class="move-right hide-right">
	    									<img src="https://cdn.shopify.com/s/files/1/0928/7658/files/StClair_Product_17.png?6911794035746929865">
	    									<div class="itemInfo myHider">
	    										<p>Sample item info 11</p>

	    										<button class="buyNowBtn">Buy Now</button>	
	    									</div>
	    								</li>

	    							</ul>
	    						</a>
	    				 
	    						
	    					</li>

	    				</ul>
      
    </div>
  </div>
</div>
