{% comment %}

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}
{% include 'breadcrumb' %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="row">
      {% if settings.display_map %}
      <div class="col-sm-12 mb20">
        <div id="map-canvas"></div>
      </div>
      {% endif %}
      <div class="col-sm-12">
        {{ page.content }}
      </div>
    </div>

    {% comment %}
      Contact form starts here
    {% endcomment %}
    <div class="row">
      <div class="col-sm-9">
        <div class="h3"><span>Send a Message</span></div>
        {% form 'contact' %}

      {% comment %}
        Successful message
      {% endcomment %}
      {% if form.posted_successfully? %}
        <p class="note form-success">
          Thanks for contacting us! We'll get back to you as soon as possible.
        </p>
      {% endif %}

      {% include 'form-errors-custom' %}
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="contactFormName">Name</label>
          <input class="form-control" type="text" id="contactFormName" name="contact[name]" placeholder="Name" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" />
        </div>

        <div class="form-group col-sm-4">
          <label for="contactFormEmail">Email <span class="required">*</span></label>
          <input class="form-control" type="email" id="contactFormEmail" name="contact[email]" placeholder="Email" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
        </div>

        <div class="form-group col-sm-4">
          <label for="contactFormPhone">Phone Number</label>
          <input class="form-control" type="tel" id="contactFormPhone" name="contact[phone]" placeholder="Phone Number" pattern="[0-9]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
        </div>

        <div class="form-group col-sm-12">
          <label for="contactFormMessage">Message <span class="required">*</span></label>
          <textarea class="form-control" rows="10" id="contactFormMessage" name="contact[body]" placeholder="Message">{% if form.body %}{{ form.body }}{% endif %}</textarea>
        </div>
        <div class="col-sm-12">
          <input type="submit" class="btn btn-default pull-right" value="Send">
        </div>  
      </div>
      {% endform %}
      </div>
      <div class="col-sm-3 contact-info">
          <h3 class="h3 mt0"><span>{{settings.footer_contact_title}}</span></h3>
          {% if settings.footer_address != blank %}
          <div class="address">
            <i class="fa fa-map-marker"></i>
            <p class="m0">{{settings.footer_address}}</p>
          </div>
          {% endif %}
          {% if settings.footer_phone != blank or settings.footer_fax != blank %}
          <div class="phone">
            <i class="fa fa-phone"></i>
            {% if settings.footer_phone != blank %}
              <p class="m0">Phone: {{settings.footer_phone}}</p>
            {% endif %}
            {% if settings.footer_fax != blank %}
              <p class="m0">Fax: {{settings.footer_fax}}</p>
            {% endif %}
          </div>
          {% endif %}
          {% if settings.footer_email != blank or settigns.footer_website != blank %}
          <div class="email">
            <i class="fa fa-envelope"></i>
            {% if settings.footer_email != blank %}
              <p class="m0">Email: <a href="mailto:{{settings.email}}">{{settings.footer_email}}</a></p>
            {% endif %}
            {% if settings.footer_website != blank %}
              <p class="m0">Website: <a href="{{settings.footer_website}}">{{settings.footer_website}}</a></p>
            {% endif %}
          </div>
          {% endif %}
        </div>
    </div>
      
      
    </div>
  </div>
</div>

<script src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
<script>
function initialize() {
  var myLatlng = new google.maps.LatLng({{settings.map_latitude}},{{settings.map_longitude}});
  var mapOptions = {
    zoom: 14,
    center: myLatlng,
    panControl: false,
    zoomControl: false,
    scaleControl: true
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map
  });

}
      google.maps.event.addDomListener(window, 'load', initialize);
</script>
