{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}


{% if settings.show_collections_list_psb or settings.display_related_products or settings.show_p_sb_img %}
  {% assign display_side_bar = true %}
{% endif %}

{% include 'breadcrumb' %} 
<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
  <meta itemprop="name" content="{{ product.title }}">

  <div class="container">

  
    <div class="row">
      
      {% if display_side_bar %}
      <div class="col-sm-3 hidden-xs">
        {% include 'product-sidebar' %}
        {% assign righ_side_class = "col-sm-9" %}
      </div>
      {% endif %}
      
      <div class="{% if display_side_bar %}col-sm-9{% else %}col-sm-12{% endif %}">
        <div class="row">
          <div class="col-sm-6">
           
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            {% if product.images.size == 0 %}

              <div class="product-photo-container" id="productPhoto">
                <a href="{{ featured_image | img_url: 'original' }}">
                  <img src="{{ featured_image | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" data-zoom-image="{{ featured_image | product_img_url: 'original' }}" id="productPhotoImg">
                </a>

              </div>

            {% else %}

              <div class="product-photo-container" id="productPhoto">
                <a href="{{ featured_image | product_img_url: 'original' }}">
                  <img src="{{ featured_image | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" data-zoom-image="{{ featured_image | product_img_url: 'original' }}" id="productPhotoImg">
                </a>

              </div>

              {% comment %}
                If we have more than one product image, loop through them and create thumbnails.
              {% endcomment %}
              {% if product.images.size > 1 %}
                <div class="row product-photo-thumbs mb20" id="product-image-gallery">
                  <div class="col-sm-12">
                    <button class="btn btn-default btn-xs prev"><i class="fa fa-angle-left"></i></button>
                    <button class="btn btn-default btn-xs next"><i class="fa fa-angle-right"></i></button>
                    <div class="owl-pthumb-imgs owl-carousel">
                    {% for image in product.images %}
                      <div class="item">
                        <a data-image="{{ image.src | product_img_url: 'grande' }}" data-zoom-image="{{ image.src | product_img_url: 'master' }}" class="product-photo-thumb">
                          <img src="{{ image.src | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                        </a>
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              {% endif %}

            {% endif %}
          </div>
          <div class="col-sm-6">

            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <meta itemprop="price" content="{{ product.selected_or_first_available_variant.price | money_without_currency }}">

              <h3 class="product-title">
                <span itemprop="name">{{ product.title }}</span>
              </h3>
              
              <hr hidden>
              <div>
                {% if settings.show_product_review %}
                  <div class="dib">
                    <span class="dib shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                  </div>
                {% endif %}
                
                <span class="{% if settings.show_product_review %}pull-right{% endif %}" id="p_availability">
                  
                  {% if product.available %}
                    <link itemprop="availability" href="http://schema.org/InStock">
                    Available: <span class="pc">In stock</span>
                  {% else %}
                    <link itemprop="availability" href="http://schema.org/OutOfStock">
                    Available: <span class="pc">Out of Stock</span>
                  {% endif %}
                </span>
              </div>
              <hr hidden>
              
              <div class="purchase">
                <h2 class="price pc" id="price-preview">
                  {{ product.selected_or_first_available_variant.price | money }}{% if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price %} <del>{{ product.selected_or_first_available_variant.compare_at_price | money }}</del>{% endif %}
                </h2>
              </div>

               
              {% if settings.show_product_description %}
                <hr> 
                <div class="product-description rte mt20" itemprop="description">
                  {{ product.description }}

                  <div class="size-chart">
                  Size chart: XS: 0-2, S: 4-6, M: 8-10, L: 12-14, XL: 16
                  </div>
                </div>  
              {% endif %}
              {% if settings.show_vendor %}
                <br/>
                <p><b>Vendor</b>: {{product.vendor}}</p>  
              {% endif %}
               
              <hr>  

              <form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">

                <select name="id" id="productSelect" class="variants">
                  {% for variant in product.variants %}
                    {% if variant.available %}

                      {% comment %}
                        Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                      {% endcomment %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{variant.id}}">
                        {{ variant.title }}
                      </option>

                    {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - Sold out
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>

                <hr class="mt0 vc-sep">
                <div class="qty-wrapper">
                  <label for="quantity">Quantity</label>
                  <div class="incrementer">
                    <input  class="form-control" type="number" id="quantity" name="quantity" value="1" min="1">
                  </div>
                </div>
                <button data-loading-text="Adding..." type="submit" name="add" class="btn btn-primary" id="addToCart">
                  <i class="fa fa-shopping-cart"></i> Add to cart
                </button>

              </form>
              {% include 'social-sharing' %}
                
            </div>
          </div>
        </div>

        {% comment %}product tabs{% endcomment %}
        <div class="row">
          <div class="col-sm-12 venas-tabs">
            <div role="tabpanel" class="mt20">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                {% if settings.show_tab_1 %}
                <li role="presentation" class="active"><a href="#tab_1" aria-controls="tab_1" role="tab" data-toggle="tab"><h3 class="h3"><span>{{settings.tab_1_title}}</span></h3></a></li>
                {% endif %}
                {% if settings.show_tab_2 %}
                <li role="presentation"><a href="#tab_2" aria-controls="tab_2" role="tab" data-toggle="tab"><h3 class="h3"><span>{{settings.tab_2_title}}</span></h3></a></li>
                {% endif %}
                {% if settings.show_tab_3 %}
                <li role="presentation"><a href="#tab_3" aria-controls="tab_3" role="tab" data-toggle="tab"><h3 class="h3"><span>{{settings.tab_3_title}}</span></h3></a></li>
                {% endif %}
                {% if settings.show_product_review %}
                <li role="presentation"><a href="#tab_4" aria-controls="tab_4" role="tab" data-toggle="tab"><h3 class="h3"><span>{{settings.product_review_title}}</span></h3></a></li>
                {% endif %}
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                {% if settings.show_tab_1 %}
                <div role="tabpanel" class="tab-pane active" id="tab_1">{{settings.tab_1_text}}</div>
                {% endif %}
                {% if settings.show_tab_2 %}
                <div role="tabpanel" class="tab-pane" id="tab_2">{{settings.tab_2_text}}</div>
                {% endif %}
                {% if settings.show_tab_3 %}
                <div role="tabpanel" class="tab-pane" id="tab_3">{{settings.tab_3_text}}</div>
                {% endif %}
                {% if settings.show_product_review %}
                <div role="tabpanel" class="tab-pane" id="tab_4">
                  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                </div>
                {% endif %}
              </div>
            </div>  
          </div>
        </div>

        {% comment %}product page collection{% endcomment %}
        {% if settings.product_collection != blank and collections.[settings.product_collection].products.length > 0 %}
        <div class="row single-collection product-collection">
          <div class="col-sm-12">
            <h3 class="h3"><span>{{collections.[settings.product_collection].title}}</span></h3> 
              {% assign grid_item_width = 'item col-sm-12' %} 
              {% assign lazyLoading = 'lazyOwl' %}
              <div class="row">
                <div class="fpcontroller">
                  <button class="btn btn-default btn-xs fpc-prev"><i class="fa fa-angle-left"></i></button>
                  <button class="btn btn-default btn-xs fpc-next"><i class="fa fa-angle-right"></i></button>
                </div>
                <div class="owl-carousel owl-product-collection">
                  {% for product in collections.[settings.product_collection].products %}
                    {% assign data_wow_detlay = '0.' | append: forloop.index %}
                    {% include 'product-grid-item' %}
                  {% else %}
                    {{no_prodcts}}
                  {% endfor %}
                </div>
              </div>
          </div>
        </div>
        {% endif %}  
      </div>
    </div>

    

  </div>
</div>



{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS below as you need. This is only needed on pages where
  product variants are accessible, so doesn't need to live in theme.liquid.

  Currently, the code below does:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>

var selectCallback = function(variant, selector) {
  
  var addToCart = $('#addToCart'),
      productPrice = $('#productPrice'),
      comparePrice = $('#comparePrice'),
      p_availability = $('#p_availability .pc');

  if (variant) {
    if (variant.available) {
      // We have a valid product variant, so enable the submit button
      addToCart.removeClass('disabled').prop('disabled', false).val('Add to Cart');
      p_availability.text('In Stock');

    } else {
      // Variant is sold out, disable the submit button
      addToCart.val('Sold Out').addClass('disabled').prop('disabled', true);
    }

    // Regardless of stock, update the product price
    //productPrice.html(Shopify.formatMoney(variant.price, '{{ shop.money_format }}'));

    // Also update and show the product's compare price if necessary
    if ( variant.compare_at_price > variant.price ) {
      $('#price-preview').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, '{{ shop.money_format }}') +'</span>'+'&nbsp;<del class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, '{{ shop.money_format }}')+ '</del>');
    } else {
      $('#price-preview').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, '{{ shop.money_format }}') + '</span>' );
    }   

  } else {
    // The variant doesn't exist, disable submit button.
    // This may be an error or notice that a specific variant is not available.
    // To only show available variants, implement linked product options:
    //   - http://docs.shopify.com/manual/configuration/store-customization/advanced-navigation/linked-product-options
    addToCart.val('Unavailable').addClass('disabled').prop('disabled', true);
    p_availability.text('Out of Stock');
  }

  if (variant && variant.featured_image) {
    var originalImage = $("#productPhoto img");
    var newImage = variant.featured_image;
    var element = originalImage[0];
    
    Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
        
        var pl_newImage = newImage.src.replace('https:', '');
        pl_newImage = pl_newImage.replace('http:', '');

        $('#product-image-gallery a').each(function() { 
          if (pl_newImage == $(this).data('zoom-image')) {
            $(this).find('img').trigger('click');
          };
        });

    });

  }

};

jQuery(function($) {

  new Shopify.OptionSelectors('productSelect', {
    product: {{ product | json }},
    onVariantSelected: selectCallback,
    enableHistoryState: true
  });

  // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
  {% endif %}

  // Hide selectors if we only have 1 variant and its title contains 'Default'.
  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
    $('.vc-sep').hide();
  {% endif %}

  // Auto-select first available variant on page load. Otherwise the product looks sold out.
  // {% assign found_one_in_stock = false %}
  // {% for variant in product.variants %}
  //   {% if variant.available and found_one_in_stock == false %}
  //     {% assign found_one_in_stock = true %}
  //     {% for option in product.options %}
  //     //$('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
  //     {% endfor %}
  //   {% endif %}
  // {% endfor %}

});
</script>
{% if settings.s_s_tw %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
{% endif %}
{% if settings.s_s_go %}<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>{% endif %}
{% if settings.s_s_pi and template == 'product' %}<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>{% endif %}
{% if settings.s_s_fa and template == 'product' %}<script src="https://www.thefancy.com/fancyit.js" type="text/javascript"></script>{% endif %}
{% if settings.s_s_fb %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&status=0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
{% endif %}