{% comment %}

  The {{ content_for_header }} in theme.liquid will output the following stylesheet just for this page:
    - <link rel="stylesheet" href="/global/search.css" type="text/css">

  It has a few helpers in there, but this theme writes its own styles so there
  are no dependencies or conflicts. You can ignore that file.

  Return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = (shop.domain | md5) %}
{% unless search.terms == respond_js_secret_key %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% if search.performed %}

        {% comment %}
          Avoid accessing search.results before the opening paginate tag.
          If you do, the pagination of results will be broken.
        {% endcomment %}
        {% paginate search.results by 10 %}

          {% comment %}
            We don't have any results to show. Feel free to show off featured products
            or suggested searches here.
          {% endcomment %}
          {% if search.results_count == 0 %}

            <h2 class="text-center ts-header">Your search for "<strong>{{ search.terms }}</strong>" did not yield any results.</h2>
            {% include 'search-bar' %}

          {% else %}

            <h2 class="text-center ts-header">Your search for "<strong>{{ search.terms }}</strong>" revealed the following:</h2>

            {% comment %}
              Each result template, based on the grid_layout variable above
            {% endcomment %}
            <div class="search-result">
            {% for item in search.results %}
              {% if forloop.first %}
                <hr>
              {% endif %}
              {% include 'search-result' %}
              {% if forloop.last == false %}
                <hr>
              {% endif %}
            {% endfor %}
            </div>
          {% endif %}

          {% if paginate.pages > 1 %}
            <div class="text-center">
              {% include 'pagination-custom' %}
            </div>
          {% endif %}

        {% endpaginate %}

      {% else %}

        {% comment %}
          If search.performed is false, someone either accessed the page without
          the q parameter, or it was blank.
          Be sure to show a search form here, along with anything else you want to showcase.
        {% endcomment %}
        <h2 class="text-center ts-header">Search for products on our site</h2>
        {% include 'search-bar' %}

      {% endif %}
      </div>
    </div>
  </div>
{% else %}
  {% include 'respond' %}
  {% layout none %}
{% endunless %}
